/* =============
    Index Hero
============= */
#indexHero {
    overflow-x: clip;
    overflow-y: visible;
    article {
        width: 100%;
        position: relative;
        height: 60vh;
        h1 {
            display: flex;
            flex-direction: column;
            z-index: 1;

            width: 100%;

            font-size: rem-calc(88);
            @include md {
                font-size: rem-calc(128);
            }
            @include lg {
                font-size: rem-calc(184);
            }
            @include xl {
                font-size: rem-calc(264);
            }

            span{
                width: 100%;
                text-align: right;
                min-height: 200px;
                height:28vh;
                align-content: flex-end;
                @include lg{
                    height:32vh;
                }
            }
        }
        img{
            position: absolute;
            width: 100vw;
            z-index: 0;
            mix-blend-mode: multiply;
            @include sm{
                width: 90vw;
            }
            @include md{
                max-width: 800px;
            }
            @include xl{
                max-width: 1024px;
            }
        }
        img:nth-of-type(1){
            top: -2vw;
            left: -32vw;
            rotate: -180deg;
            @include sm{
                top: -8vw;
            }
            @include md{
                top: -16vw;
                left: -24vw;
            }
            @include lg{
                top: -2vw;
            }
            @include xl{
                left: -16vw;
            }
        }
        img:nth-of-type(2){
            bottom: -8vw;
            right: -28vw;
            @include md{
                bottom: -20vw;
                right: -24vw;
            }
            @include lg{
                bottom: -4vw;
                right: -20vw;
            }
        }
    }
}