/* =============
    Index Hero
============= */
#indexHero {
    background-position: center;
    background-image: url("../img/index/TilePhoto.svg");
    background-repeat: repeat;
    background-size: 16%;
    height: 32vh;
    min-height: 400px;
    background-color: $surface-variant;

    @include md {
        background-size: 12%;
    }

    @include lg {
        height: 48vh;
        background-size: 6%;
    }

    @include xl {
        background-size: 4%;
    }


    article {

        align-items: flex-start;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;

        h1 {
            color: $on-surface;
        }

        .splitflap {
            position: relative;
            min-width: 12vw;
            height: 12vw;
            text-align: center;
            color: $on-inverse-surface;
            font-size: 10vw;
            line-height: 130%;
            font-family: interstate-mono, monospace;
            // font-variant-numeric:slashed-zero;
            font-weight: 700;
            @include md{
                line-height: 120%;
            }

            @include lg {
                min-width: 10vw;
                height: 10vw;
                font-size: 9vw;
                line-height: 115%;
            }

            @include xl {
                min-width: 5.5vw;
                height: 5.5vw;
                font-size: 5vw;
            }


        }

        .center {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: space-between;

            @include lg {
                justify-content: flex-start;
                gap: 12px;
            }
        }

        .top {
            position: relative;
            height: 50%;
            width: 100%;
            background-color: $inverse-surface;
            border-radius: 10px 10px 0 0;
            overflow: hidden;
            z-index: 0;

            @include md {
                border-radius: 16px 16px 0 0;
            }

        }

        div {
            perspective: 200px;

            @include md {
                perspective: 360px;
            }

            @include lg {
                perspective: 480px;
            }
        }

        .bottom {
            position: relative;
            height: 100%;
            width: 100%;
            margin-top: -50%;
            border-radius: 10px;
            z-index: -1;
            background-color: $black;
            background-image: linear-gradient(rgba(59, 182, 235, 0), $inverse-surface);
            transform-origin: center;

            @include md {
                border-radius: 16px;
            }

        }

        .nextHalf {
            position: relative;
            height: 50%;
            width: 100%;
            margin-top: -100%;
            overflow: hidden;
            border-radius: 10px 10px 0 0;
            z-index: 2;
            background-color: $black;
            background-image: linear-gradient($inverse-surface, rgba(59, 182, 235, 0));
            transform-origin: bottom;

            @include md {
                border-radius: 16px 16px 0 0;
            }

        }

        .nextFull {
            position: relative;
            height: 100%;
            width: 100%;
            background-color: $inverse-surface;
            margin-top: -50%;
            border-radius: 10px;
            z-index: -3;

            @include md {
                border-radius: 16px;
            }

        }

        .flip1 {
            animation: flip1 ease-in 1;
            animation-duration: 1s;
        }

        .flip2 {
            animation: flip2 ease-out 1;
            animation-duration: 1s;
        }

        @keyframes flip1 {
            0% {
                transform: rotateX(0deg);
                background-color: $inverse-surface;
            }

            50% {
                transform: rotateX(90deg);
                background-color: $black;
            }

            100% {
                transform: rotateX(90deg);
            }
        }

        @keyframes flip2 {
            0% {
                transform: rotateX(-90deg);
            }

            50% {
                transform: rotateX(-90deg);
            }

            100% {
                transform: rotateX(0deg);
                background-color: $inverse-surface;
            }
        }
    }
}