/* =============
    Index Marquees
============= */
#indexMarquee {
    overflow-x: clip;
    overflow-y: visible;
    margin-bottom: -24px;

    .marquee {
        text-transform: uppercase;
        position: relative;
        overflow: hidden;
        padding: 24px 0 8px;

        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        
        @include lg {
            padding: 24px 0 8px;
        }

        li {
            font-size: rem-calc(52);
            line-height: 100%;
            font-variation-settings: "slnt"0, "wdth"0, "wght"800, "INKT"100;

            @include lg {
                font-size: rem-calc(68);
            }

        }
    }

    > :nth-child(1) {
        background-color: $tertiary90;
        color: $tertiary10;
    }

    > :nth-child(2) {
        background-color: $secondary10;
        color: $secondary80;
    }

    > :nth-child(3) {
        background-color: $primary70;
        color: $primary0;
    }

    .marquee-unit {
        flex-shrink: 0;
        padding: 0px 8px;
    }

    .marquee-inner {
        width: fit-content;
        display: flex;
        flex: auto;
        flex-direction: row;
    }

}