/* =============
    Index Project
============= */
@use '../../abstracts'as *;

.index-project {
    article {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;

        @include lg {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        img {
            aspect-ratio: 4 / 3;
            width: 100%;
            height: auto;
            background-image: none;
            object-fit: cover;

            @include lg {
                width: 100%;
                height: auto;
            }
        }

        >div {
            display: flex;
            flex-direction: column;
            padding: 0px;


            @include lg {
                width: 50vw;
                min-width: 200px;
                max-width: 901px;
            }
            h3{
                padding-bottom: 16px;
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;

            }

            .button {
                align-self: initial;

                @include sm {
                    align-self: flex-start;
                }

            }

        }
    }

}

.index-project.inverse {
    color: $on-inverse-surface;

    .chip {
        border: 1px solid $secondary-container;
        color: $secondary-container;

    }
}