/* =============
    Index Intro
============= */
#indexIntro {
    background-color: $off-white;
    @include dark {
        background-color: $grey-dark-extra;
    }

    div {
        align-items: center;
        display: flex;
        justify-content: center;

        article {
            align-items: center;
            border-bottom: 4px solid $orange;
            border-top: 4px solid $orange;
            display: flex;
            justify-content: center;
            @include padding(16px, 0px, 16px, 0px);
            @include sm {
                width: 76vw;
            }
            @include md {
                width: 56vw;
            }
            @include lg {
                width: 48vw;
            }
            @include xl {
                width: 32vw;
            }

            p {
                @include padding(0px, 8px, 0px, 8px);
                @include md {
                    @include padding(0px, 16px, 0px, 16px);
                }
            }
        }
    }
}
