/* =============
    Index Project List
============= */
#indexProjectsList {

    >article {
        display: flex;
        flex-direction: column;

        #myBtnContainer {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;

            .chip {
                cursor: pointer;
                transition: all 0.25s;

                &:hover {
                    background-color: rgba($primary, $state-hovered);
                }
            }


        }

        .filterDiv {
            width: 100%;
            flex-direction: column;
            gap: 20px;
            padding: 32px 0px;
            border-bottom: 2px solid $outline-variant;

            &:first-of-type {
                padding: 0px 0px 32px;
            }

            &:last-of-type {
                border-bottom: none;
                padding: 32px 0px 0px;
            }

            @include md {
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                // min-height: 176px;

            }

            @include lg {
                // min-height: 160px;
            }

            @include xl {
                // min-height: 120px;
            }

            h3 {
                @include md {
                    min-width: 24%;
                    max-width: 24%;
                    font-size: rem-calc(24);
                    line-height: rem-calc(28);

                }

                @include lg {
                    min-width: 24%;
                    max-width: 24%;
                    font-size: rem-calc(28);
                    line-height: rem-calc(36);
                }

                @include xl {
                    min-width: 24%;
                    max-width: 24%;
                }
            }

            >div {
                display: flex;
                flex-direction: column;
                gap: 12px;

                @include md {
                    min-width: auto;
                    max-width: 50%;
                }

                @include lg {
                    max-width: 40%;
                }

                p {
                    margin-top: -12px;
                    min-height: 3lh;

                    @include md {
                        margin-top: 0px;
                        min-height: 3lh;

                    }
                }

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 8px;

                    .chip {
                        height: 32px;
                        max-height: 32px;

                    }
                }

            }

            .button {
                align-self: initial;

                @include sm {
                    align-self: flex-start;
                }

            }
        }

    }

    .filterDiv {
        display: none;
    }

    .show {
        display: flex;
    }

    .chip {
        >span {
            display: none;
        }
    }

    .chip.active {
        background-color: $primary-container;
        border: none;

        >span {
            display: block;
        }

    }
}