/* =============
    Index Project List
============= */
#indexProjectsList {
    >article {
        display: flex;
        flex-direction: column;

        .project-list-item {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 32px 0px;
            border-bottom: 2px solid $outline-variant;

            @include md {
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                min-height: 176px;

            }

            @include lg {
                min-height: 160px;
            }
            @include xl{
                min-height: 120px;
            }

            h3 {
                @include md {
                    min-width: 16%;
                    max-width: 16%;
                    font-size: inherit;
                    line-height: inherit;
                }

                @include lg {
                    min-width: 24%;
                    max-width: 24%;
                    font-size: rem-calc(28);
                    line-height: rem-calc(32);
                        
                }
                @include xl {
                    min-width: 24%;
                    max-width: 24%;
                }
            }

            >div {
                display: flex;
                flex-direction: column;
                gap: 12px;

                @include md {
                    min-width: auto;
                    max-width: 50%;
                }
                @include lg{
                    max-width: 40%;
                }

                p {
                    margin-top: -12px;

                    @include md {
                        margin-top: 0px;
                    }
                }

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 8px;

                }

            }

            .button {
                align-self: initial;

                @include sm {
                    align-self: flex-start;
                }

            }
        }

    }
}