/* =============
    Index Project Two
============= */
@use '../../abstracts'as *;

#indexProjectTwo {
    background-color: $black;

    #cftLogo {
        height: 40vh;
        align-self: center;
        margin-bottom: 24px;
        transform-origin: 50% 50%;
        overflow: visible;

        @include md {
            transform-origin: center left;
            margin: 0px;
            align-self: center;
            justify-self: center;
        }
        @include lg{
        height: 50vh;
        }

        .cls-1,
        .cls-2 {
            fill: #900
        }

        .cls-3 {
            stroke-width: 1.81px
        }

        .cls-3,
        .cls-4,
        .cls-5 {
            fill: #fff
        }

        .cls-3,
        .cls-5 {
            stroke: #fff
        }

        .cls-5 {
            stroke-width: .86px
        }

        .cls-2,
        .cls-5 {
            fill-rule: evenodd
        }

        #cftLogoInsert {
            transform-origin: 50% 50%;
        }

        #cftLogoSymbolCircle {
            transform-origin: 50% 50%;
        }
    }

}