/* =============
    Index Intro
============= */
#indexIntro {
    article {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 32px;
        max-width: 600px;

        @include lg{
            max-width: 680px;
        }
        h3 {
            // margin: 0px 20px;
            color: $on-secondary-container;

            .intro-angle {
                color: $on-secondary-container;
                background-color: $surface;
                border: 2px solid $secondary;
                padding:8px 8px 4px;
                border-radius: 8px;
                display: inline-block;
            }
        }
    }
}