/* =============
    Index Project One
============= */
#indexProjectOne {
    article {
        display: flex;
        flex-direction: column;

        @include lg {
            flex-direction: row;
            align-items: center;
        }

        img {
            aspect-ratio: 3 / 2;
            width: 100%;
            height: auto;
            background-image: none;
            object-fit: cover;
            @include lg{
                width: 60%;
                
            }
        }

        div {
            display: flex;
            flex-direction: column;


            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;

            }

            .button {
                align-self: initial;

                @include sm {
                    align-self: flex-start;
                }

            }

        }
    }
}