/* =============
    Index Marquees
============= */
#indexMarquee {
    overflow-x: clip;
    overflow-y: visible;

    .marquee {
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 16px 0px 4px;
        text-transform: uppercase;

        li {
            font-size: rem-calc(68);
            line-height: 100%;
            font-variation-settings: "ital"0, "wdth"25, "wght"600;

            @include lg {
                font-size: rem-calc(88);
            }

        }

        :nth-child(odd) {
            @supports (leading-trim: both) and (text-edge: cap) {
                leading-trim: both;
                text-edge: cap;
            }
        }

        :nth-child(even) {
            font-family: sans-serif;
            font-size: rem-calc(52);
            margin-bottom: 12px;

            @include lg {
                font-size: rem-calc(60);
            }

        }
    }

    .marqueeLeft {
        justify-content: flex-start;
    }

    .marqueeRight {
        justify-content: flex-end;
    }


    > :nth-child(1) {
        background-color: $primary90;
        color: $primary10;
    }

    > :nth-child(2) {
        background-color: $primary10;
        color: $primary80;
    }

    > :nth-child(3) {
        background-color: $primary70;
        color: $primary0;
    }

}