/* =============
    Index Project List
============= */
@use '../../abstracts'as *;

#indexProjectsList {

    >article {
        display: flex;
        flex-direction: column;

        >ul {
            display: flex;
            flex-direction: column;

            @include md {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            @include lg {
                display: flex;
                flex-direction: column;
            }

            .filterDiv {
                display: flex;
                flex-direction: column;
                overflow: clip;
                background-color: $surface;

                @include md {
                    height: 100%;
                }

                @include lg {
                    display: grid;
                    grid-template-columns: 32vw 1fr;
                    min-height: 472px;
                }

                img {
                    aspect-ratio: 16 / 9;

                    @include lg {
                        aspect-ratio: auto;
                        height: 100%;
                    }
                }

                >div {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    grid-template-rows: auto 1fr 58px;
                    align-self: stretch;
                    height: stretch;

                    @include lg {
                        padding-left: 0px;
                        grid-template-rows: auto auto 66px;
                    }

                    >div {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;

                        h3 {
                            min-height: 3lh;

                            @include md {
                                min-height: 3lh;
                            }
                        }

                        p {
                            min-height: 3lh;
                            margin-top: 12px;

                            @include md {
                                margin-top: 0px;
                            }
                        }

                        ul {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 8px;

                            .chip {
                                height: 32px;
                                max-height: 32px;

                            }
                        }

                    }

                }

                .button {
                    align-self: initial;

                    @include sm {
                        align-self: flex-start;
                    }

                    @include md {
                        justify-self: flex-start;
                    }

                }
            }

        }

    }
}