/* =============
    Index Project One
============= */
#indexProjectOne{
    article {
        display: flex;
        flex-direction: column;

        img {
            aspect-ratio: 3 / 2;
            width: 100%;
            height: auto;
            background-image: none;
            object-fit: contain;
            @include lg{
                aspect-ratio: 16 / 9;
            }
        }

        > div {
            display: flex;
            flex-direction: column;
            @include lg{
                min-width: 400px;
                max-width: 900px;

            }

            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;

            }

            .button {
                align-self: initial;

                @include sm {
                    align-self: flex-start;
                }

            }

        }
    }
}
