/* =============
    Index Project Four
============= */
@use '../../abstracts'as *;

#indexProjectFour {
    // overflow: hidden;
    background-color: $surface-variant;

    figure {
        img {
            object-fit: contain;

            @include lg {
                max-height: 704px;
            }
        }
    }
}