// OLD COLORS TO DELETE LATER
$white: #FCFCFC;
$off-white: #F0F0F0;
$grey-mid: #454546;
$grey-mid-extra: #28282A;
$grey-dark: #1E1E20;
$grey-dark-extra: #161618;
$black: #131618;
$blank: rgba(0, 0, 0, 0);


$light-orange: #FFA566;
$orange: #FF964C;
$dark-orange: #A35200;

$light-pink: #EACCFF;
$pink: #FE3DFF;
$dark-pink: #B813B9;

$light-purple: #C494FF;
$purple: #6613CE;
$dark-purple: #0D001E;
/* =============
    Color Variables
============= */
// Reference Colors
$primary0: rgba(0, 0, 0, 1);
$primary10: rgba(24, 0, 46, 1);
$primary20: rgba(49, 0, 92, 1);
$primary30: rgba(73, 0, 137, 1);
$primary40: rgba(98, 0, 183, 1);
$primary50: rgba(122, 0, 229, 1);
$primary60: rgba(149, 51, 234, 1);
$primary70: rgba(175, 102, 239, 1);
$primary80: rgba(202, 153, 245, 1);
$primary90: rgba(228, 204, 250, 1);
$primary95: rgba(242, 229, 252, 1);
$primary99: rgba(248, 242, 254, 1);
$primary100: rgba(255, 255, 255, 1);

$secondary0: rgba(0, 0, 0, 1);
$secondary10: rgba(46, 38, 5, 1);
$secondary20: rgba(92, 76, 9, 1);
$secondary30: rgba(138, 115, 14, 1);
$secondary40: rgba(184, 153, 18, 1);
$secondary50: rgba(230, 191, 23, 1);
$secondary60: rgba(235, 204, 69, 1);
$secondary70: rgba(240, 217, 116, 1);
$secondary80: rgba(245, 229, 162, 1);
$secondary90: rgba(250, 242, 209, 1);
$secondary95: rgba(252, 249, 232, 1);
$secondary99: rgba(254, 252, 243, 1);
$secondary100: rgba(255, 255, 255, 1);

$neutral0: rgba(0, 0, 0, 1);
$neutral10: rgba(43, 43, 43, 1);
$neutral20: rgba(86, 86, 86, 1);
$neutral30: rgba(128, 128, 128, 1);
$neutral40: rgba(171, 171, 171, 1);
$neutral50: rgba(214, 214, 214, 1);
$neutral60: rgba(222, 222, 222, 1);
$neutral70: rgba(230, 230, 230, 1);
$neutral80: rgba(239, 239, 239, 1);
$neutral90: rgba(247, 247, 247, 1);
$neutral95: rgba(251, 251, 251, 1);
$neutral99: rgba(253, 253, 253, 1);
$neutral100: rgba(255, 255, 255, 1);

$neutral-variant0: rgba(0, 0, 0, 1);
$neutral-variant10: rgba(48, 46, 50, 1);
$neutral-variant20: rgba(97, 92, 101, 1);
$neutral-variant30: rgba(145, 137, 151, 1);
$neutral-variant40: rgba(194, 183, 202, 1);
$neutral-variant50: rgba(242, 229, 252, 1);
$neutral-variant60: rgba(245, 234, 253, 1);
$neutral-variant70: rgba(247, 239, 253, 1);
$neutral-variant80: rgba(250, 245, 254, 1);
$neutral-variant90: rgba(252, 250, 254, 1);
$neutral-variant95: rgba(254, 252, 255, 1);
$neutral-variant99: rgba(254, 254, 255, 1);
$neutral-variant100: rgba(255, 255, 255, 1);

// Colors
$white: $neutral100;
$black: $neutral0;

// Primary
$primary: $primary50;
$on-primary: $primary100;

$primary-container: $primary90;
$on-primary-container: $primary10;

$inverse-primary: $primary90;
$on-inverse-primary: $primary10;

// Secondary
$secondary: $secondary50;
$on-secondary: $secondary100;

$secondary-container: $secondary90;
$on-secondary-container: $secondary10;

$inverse-secondary: $secondary90;
$on-inverse-secondary: $secondary10;

// Background
$background: $neutral99;
$on-background: $neutral10;

// Surface
$surface: $neutral99;
$on-surface: $neutral10;

$surface-variant: $neutral-variant80;
$on-surface-variant: $neutral-variant10;

$inverse-surface: $neutral10;
$on-inverse-surface: $neutral80;

// Surface Light
$surface-light-1: rgba(246, 240, 252, 1);
$surface-light-2: rgba(243, 233, 251, 1);
$surface-light-3: rgba(239, 225, 250, 1);
$surface-light-4: rgba(237, 223, 250, 1);
$surface-light-5: rgba(235, 218, 250, 1);
// Surface Dark
$surface-dark-1: rgba(47, 41, 52, 1);
$surface-dark-2: rgba(49, 40, 58, 1);
$surface-dark-3: rgba(52, 38, 63, 1);
$surface-dark-4: rgba(52, 38, 65, 1);
$surface-dark-5: rgba(54, 37, 69, 1);

// Outline
$outline: $neutral30;
$outline-variant: $neutral-variant40;

// Shadow
$shadow: $black;