/* =============
    Reference Colors
============= */
$primary0: rgba(0, 0, 0, 1);
$primary10: rgba(16, 2, 29, 1);
$primary20: rgba(32, 4, 57, 1);
$primary30: rgba(49, 7, 86, 1);
$primary40: rgba(65, 9, 114, 1);
$primary50: rgba(81, 11, 143, 1);
$primary60: rgba(116, 60, 165, 1);
$primary70: rgba(151, 109, 188, 1);
$primary80: rgba(185, 157, 210, 1);
$primary90: rgba(220, 206, 233, 1);
$primary95: rgba(238, 231, 244, 1);
$primary99: rgba(246, 243, 249, 1);
$primary100: rgba(255, 255, 255, 1);

$secondary0: rgba(0, 0, 0, 1);
$secondary10: rgba(2, 29, 27, 1);
$secondary20: rgba(4, 57, 54, 1);
$secondary30: rgba(7, 86, 80, 1);
$secondary40: rgba(9, 114, 107, 1);
$secondary50: rgba(11, 143, 134, 1);
$secondary60: rgba(60, 165, 158, 1);
$secondary70: rgba(109, 188, 182, 1);
$secondary80: rgba(157, 210, 207, 1);
$secondary90: rgba(206, 233, 231, 1);
$secondary95: rgba(231, 244, 243, 1);
$secondary99: rgba(243, 249, 249, 1);
$secondary100: rgba(255, 255, 255, 1);

$neutral0: rgba(0, 0, 0, 1);
$neutral10: rgba(43, 43, 43, 1);
$neutral20: rgba(86, 86, 86, 1);
$neutral30: rgba(128, 128, 128, 1);
$neutral40: rgba(171, 171, 171, 1);
$neutral50: rgba(214, 214, 214, 1);
$neutral60: rgba(222, 222, 222, 1);
$neutral70: rgba(230, 230, 230, 1);
$neutral80: rgba(239, 239, 239, 1);
$neutral90: rgba(247, 247, 247, 1);
$neutral95: rgba(251, 251, 251, 1);
$neutral99: rgba(253, 253, 253, 1);
$neutral100: rgba(255, 255, 255, 1);

$neutral-variant0: rgba(0, 0, 0, 1);
$neutral-variant10: rgba(48, 46, 49, 1);
$neutral-variant20: rgba(95, 92, 98, 1);
$neutral-variant30: rgba(143, 139, 146, 1);
$neutral-variant40: rgba(190, 185, 195, 1);
$neutral-variant50: rgba(238, 231, 244, 1);
$neutral-variant60: rgba(241, 236, 246, 1);
$neutral-variant70: rgba(245, 241, 248, 1);
$neutral-variant80: rgba(248, 245, 251, 1);
$neutral-variant90: rgba(252, 250, 253, 1);
$neutral-variant95: rgba(253, 253, 254, 1);
$neutral-variant99: rgba(254, 254, 254, 1);
$neutral-variant100: rgba(255, 255, 255, 1);


/* =============
    Token Colors
============= */

// Colors
$white: $neutral100;
$black: $neutral0;
// Primary
$primary: $primary50;
$on-primary: $primary100;
$primary-container: $primary80;
$on-primary-container: $primary10;

// Secondary
$secondary: $secondary50;
$on-secondary: $secondary100;
$secondary-container: $secondary80;
$on-secondary-container: $secondary10;

// Background
// $background: $background50;
// $on-background: $background100;
// $background-container: $background80;
// $on-background-container: $background10;

// Surface
// $surface: $surface50;
// $on-surface: $surface100;
// $surface-container: $surface80;
// $on-surface-container: $surface10;
// $surface-variant: $surface50;
// $on-surface-variant: $surface100;
// $inverse-surface: $surface80;
// $on-inverse-surface: $surface10;

// Outline
$outline: $neutral30;
$outline-variant: $neutral-variant30;
