/* =============
    Variables
============= */
// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 456px;
// Small tablets
$screen-md-min: 768px;
// Large tablets and small desktops
$screen-lg-min: 992px;
// Large desktops
$screen-xl-min: 1200px;
// Colors
$white: #FCFCFC;
$off-white: #F7F7F7;
$grey-pink: #F9F5FF;
$grey-mid: #454546;
$grey-dark: #19191A;
$black: #131618;
$blank: rgba(0,0,0,0);
$orange: #FF964C;
$pink: #FE3DFF;
$dark-pink: #B813B9;
$purple: #6613CE;
$dark-purple: #0D001E;
