/* =============
    Variables
============= */
// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 456px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$white: #FCFCFC;
$off-white: #F0F0F0;
$grey-mid: #454546;
$grey-dark: #1E1E20;
$black: #131618;
$blank: rgba(0,0,0,0);

$light-orange: #FFA566;
$orange: #FF964C;

$light-pink: #F0DBFF;
$pink: #FE3DFF;
$dark-pink: #B813B9;

$light-purple: #C494FF;
$purple: #6613CE;
$dark-purple: #0D001E;
