@charset 'utf-8';

// abstracts Styles
@use "abstracts/_mixins";
@use "abstracts/_screenVariables";
@use "abstracts/_radiusVariables";
@use "abstracts/_colorVariables";
@use "abstracts/_paddingVariables";
@use "abstracts/_elevationVariables";


// Base Styles
@use "base/_normalize";
@use "base/_base";
@use "base/_typography";

// Components Styles
@use "components/_buttons";
@use "components/_chips";
@use "components/_forms";
@use "components/_heroes";
@use "components/_icons";

@use "components/_caseStudyComponents";
@use "components/_caseStudyPreFooter";

// Layout Styles
@use "layout/_header";
@use "layout/_footer";
@use "layout/_csFooter";

// Sections Styles
// INDEX
@use "sections/index/_indexHero";
@use "sections/index/_indexIntro";
@use "sections/index/_indexProject";
@use "sections/index/_indexProjectOne";
@use "sections/index/_indexProjectTwo";
@use "sections/index/_indexProjectThree";
@use "sections/index/_indexMarquee";
@use "sections/index/_indexProjectList";

// ABOUT
@use "sections/about/_aboutWho";

// RESUME
@use "sections/resume/_resumeEducation";
@use "sections/resume/_resumeHonors";
@use "sections/resume/_resumeExperience";
@use "sections/resume/_resumeSkills";

// CASE STUDIES
// ANTIFOGMATIC
@use "sections/case-studies/_antiHero";
@use "sections/case-studies/_antiIntro";
@use "sections/case-studies/_antiGallery";

// ATTENTION TO DETAIL
@use "sections/case-studies/_atdHero";
@use "sections/case-studies/_atdIntro";
@use "sections/case-studies/_atdGallery";
@use "sections/case-studies/_atdColor";
@use "sections/case-studies/_atdIconography";
@use "sections/case-studies/_atdImagery";
@use "sections/case-studies/_atdLogo";

// BARBARA KASTEN
@use "sections/case-studies/_bkHero";
@use "sections/case-studies/_bkGallery";

// CARDS FOR TODAY
@use "sections/case-studies/_cftHero";
@use "sections/case-studies/_cftBranding";
@use "sections/case-studies/_cftGallery";

// CLARENDON
@use "sections/case-studies/_clHero";
@use "sections/case-studies/_clGallery";

// FENDER
@use "sections/case-studies/_fenderHero";
@use "sections/case-studies/_fenderText1";
@use "sections/case-studies/_fenderGallery";

// ICE CREAM MUSEUM
@use "sections/case-studies/_icmHero";
@use "sections/case-studies/_icmText1";
@use "sections/case-studies/_icmGallery";

// MERAKI DESIGN SYSTEM
@use "sections/case-studies/_mdsHero.scss";
@use "sections/case-studies/_mdsProcess.scss";
@use "sections/case-studies/_mdsOutcomes.scss";

// MOVEBO MUSEUM
@use "sections/case-studies/_mHero";
@use "sections/case-studies/_mGallery";

// OSCAR NIEMEYER
@use "sections/case-studies/_onHero";
@use "sections/case-studies/_onGallery";

// QUEEN VILLAGE
@use "sections/case-studies/_qvHero";
@use "sections/case-studies/_qvText1";
@use "sections/case-studies/_qvGallery";

// SALT&AGE
@use "sections/case-studies/_saHero";
@use "sections/case-studies/_saText1";
@use "sections/case-studies/_saGallery";

// SCIENCE HISTORY MUSEUM
@use "sections/case-studies/_shmHero";
@use "sections/case-studies/_shmGallery";

// SCOUT AI
@use "sections/case-studies/_saiHero";
@use "sections/case-studies/_saiProcess";
@use "sections/case-studies/_saiPrototyping";

// SECOND LIFE COMPOSTING
@use "sections/case-studies/_slcHero";
@use "sections/case-studies/_slcProcess";
@use "sections/case-studies/_slcPrototyping";
@use "sections/case-studies/_slcBranding";

// SONS OF ANARCHY
@use "sections/case-studies/_soaHero";
@use "sections/case-studies/_soaGallery";

// SOUTHWARK & BERMONDSEY
@use "sections/case-studies/_sbHero";
@use "sections/case-studies/_sbGallery";

// THE PHILADELPHIA SCHOOL
@use "sections/case-studies/_tpsHero";
@use "sections/case-studies/_tpsText1";

// TARGET CASE STUDY
@use "sections/case-studies/_tarHero.scss";
@use "sections/case-studies/_tarPrototyping";
@use "sections/case-studies/_tarBranding";

// TIKTOK RESEARCH
@use "sections/case-studies/_ttHero.scss";
@use "sections/case-studies/_ttBranding.scss";

@use "sections/case-studies/_tgHero.scss";

// TRIUMPH UI
@use "sections/case-studies/_triumphHero";
@use "sections/case-studies/_triumphText1";
@use "sections/case-studies/_triumphGallery";

// TYPEFACES OF LONDON
@use "sections/case-studies/_tolHero";
@use "sections/case-studies/_tolGallery";

// unLIKABLE
@use "sections/case-studies/_unHero";
@use "sections/case-studies/_unGallery";

// 404
@use "sections/404/_FourOFourmain";
