/* =============
    ANTI Intro
============= */
#antiIntro {
    > div {
        align-items: center;
        display: flex;
        justify-content: center;

        article {
            align-items: center;
            border-bottom: 4px solid $dark-purple;
            border-top: 4px solid $dark-purple;
            display: flex;
            justify-content: center;
            @include padding(16px, null, 16px, null);
            @include dark{
                border-bottom: 4px solid $light-pink;
                border-top: 4px solid $light-pink;
            }

            @include md {
                width: 56vw;
            }
            @include lg {
                width: 48vw;
            }
            @include xl {
                width: 32vw;
            }

            p {
                @include padding(null, 8px, null, 8px);
                @include md {
                    @include padding(null, 16px, null, 16px);
                }
                @include lg {
                    font-size: rem-calc(20);
                }

                span {
                    font-size: rem-calc(18);

                }
            }
        }
    }
}
