/* =============
    Attention to Detail Intro
============= */
#atdIntro {
    > div {
        align-items: center;
        display: flex;
        justify-content: flex-start;

        article {
            @include sm {
                width: 72%;
            }
            @include md {
                width: 50%;
            }

            p {
                @include lg {
                    font-size: rem-calc(20);
                }

                span {}
            }
        }
    }
}
