/* =============
    Attention to Detail Gallery
============= */
@use '../../abstracts' as *;

#atdGallery {
    article {

        >img:nth-child(1),
        >img:nth-child(2),
        >img:nth-child(3) {
            object-fit: contain;
        }

        >div:nth-child(4) {
            >img:nth-child(1) {
                object-fit: contain;
            }
        }
        >img:nth-child(6){
            aspect-ratio: unset;
        }
    }
}