/* =============
    Attention to Detail Color
============= */
#atdColor {
    article {
        .color-palette-group {
            .color-palette {
                div {
                    svg:nth-of-type(1) {
                        box-shadow: inset 0px 0px 0px 1px rgba($outline, 0.2);
                        ellipse {
                            fill: #FCFCFC;
                        }
                    }

                    svg:nth-of-type(2) {

                        ellipse {
                            fill: #E9E8E7;
                        }
                    }

                    svg:nth-of-type(3) {

                        ellipse {
                            fill: #1A1A1A;
                        }
                    }

                    svg:last-child {
                        ellipse {
                            fill: #FFBF00;
                        }
                    }
                }

            }

        }

        .color-palette:nth-of-type(1) {
            div {
                svg:nth-of-type(4) {
                    ellipse {
                        fill: #10DAD7;
                    }
                }

                svg:nth-of-type(5) {
                    ellipse {
                        fill: #003A4C;
                    }
                }

            }
        }

        .color-palette:nth-of-type(2) {
            div {
                svg:nth-of-type(4) {
                    ellipse {
                        fill: #F28092;
                    }
                }

                svg:nth-of-type(5) {
                    ellipse {
                        fill: #E60026;
                    }
                }

                svg:nth-of-type(6) {
                    ellipse {
                        fill: #72051B;
                    }
                }



            }
        }

        .color-palette:nth-of-type(3) {
            div {
                svg:nth-of-type(4) {
                    ellipse {
                        fill: #B89FDF;
                    }
                }

                svg:nth-of-type(5) {
                    ellipse {
                        fill: #7140BF;
                    }
                }

                svg:nth-of-type(6) {
                    ellipse {
                        fill: #382468;
                    }
                }

            }
        }
    }
}