/* =============
    Attention to Detail Hero
============= */
@use '../../abstracts' as *;

#atdHero {
    background-image: url("../img/case-studies/atd/atdHero.jpg");
    background-position: 64% top;
    @include md {
        background-position: center top;
    }
}
