/* =============
    CARDS FOR TODAY Hero
============= */
@use '../../abstracts'as *;

#cftHero {
    background-color: #700000;
    background-image: url("../img/case-studies/cft/cftHero.jpg");
    background-blend-mode: multiply;

    article {
        h1 {
            hyphens: manual;

            @include lg {
                hyphens: none;
            }
        }
    }
}