/* =============
    FENDER Hero
============= */
@use '../../abstracts' as *;

#fenderHero {
    background-image: url("../img/case-studies/fender/fenderHero.jpg");
    background-position: center bottom;
}
