/* =============
    ICM Text
============= */
#icmText1 {
    > div {
        article {
            p {
                @include margin(0px,0px,48px,0px);
                @include md {
                    @include margin(0px,0px,56px,0px);
                }
                @include lg {
                    @include margin(0px,0px,64px,0px);
                }
                @include xl {
                    @include margin(0px,0px,80px,0px);
                }
            }

            ul {
                @include lg {
                    grid-template-columns: repeat(4,1fr);
                }

                li {
                    background-size: contain;
                    height: 200px;
                }

                li:nth-child(1) {
                    background-image: url("../img/case-studies/icm/icmAbstract.svg");
                    @include dark {
                        background-image: url("../img/case-studies/icm/icmAbstractWhite.svg");
                    }
                }

                li:nth-child(2) {
                    background-image: url("../img/case-studies/icm/icmPictographic.svg");
                    @include dark {
                        background-image: url("../img/case-studies/icm/icmPictographicWhite.svg");
                    }
                }

                li:nth-child(3) {
                    background-image: url("../img/case-studies/icm/icmLettered.svg");
                    @include dark {
                        background-image: url("../img/case-studies/icm/icmLetteredWhite.svg");
                    }
                }

                li:nth-child(4) {
                    background-image: url("../img/case-studies/icm/icmCombo.svg");
                    @include dark {
                        background-image: url("../img/case-studies/icm/icmComboWhite.svg");
                    }
                }
            }
        }
    }
}
