/* =============
    MERAKI DESIGN SYSTEM Branding
============= */
@use '../../abstracts'as *;

#mdsProcess {
    article {

        iframe:nth-of-type(1) {
            height: auto;
            @include md{
                height: 16vw;
            }
            @include lg{
                height: 15vw;
            }
        }

        .carousel-image {
            li:first-of-type {
                @include md {
                    // border-right: 1px solid $outline;
                    // padding-right: 32px;
                }
            }
        }

        ul:nth-child(14) {
            display: flex;
            flex-direction: column;

            @include md {
                flex-direction: row;
                align-items: baseline;
            }
        }
    }
}