/* =============
    QV Hero
============= */
@use '../../abstracts' as *;

#qvHero {
    background-image: url("../img/case-studies/qv/qvBrochureDetail2.jpg");
    background-position: center 80%;
}
