/* =============
    SB Gallery
============= */
#sbGallery {
    background-color: $off-white;
    @include dark {
        background-color: $grey-dark-extra;
    }

    > div {
        article {

            ul {
                grid-template-areas: "SP1""SP2" "paragraph1" "SPZ1" "SPZ2" "SBPM";
                grid-template-rows: 304px 304px auto 200px 200px 304px;
                @include sm {
                    grid-template-areas: "SP1 SP1 SPZ1" "SPZ2 SP2 SP2" "paragraph1 paragraph1 ." "SBPM SBPM SBPM";
                    grid-template-columns: repeat(3,1fr);
                    grid-template-rows: 304px 304px auto 800px;
                }
                @include md {
                    grid-template-rows: 400px 400px auto 800px;
                }
                @include lg {
                    grid-template-areas: "SP1 SP1 SP1 . SP2 SP2 SP2" "paragraph1 paragraph1 paragraph1 paragraph1 paragraph1 . ." "SPZ1 SPZ1 SPZ2 SPZ2 SPZ2 SPZ2 SPZ2" ". . . SBPM SBPM SBPM SBPM";
                    grid-template-columns: repeat(7,1fr);
                    grid-template-rows: 480px auto 200px 600px;
                }

                li:nth-child(1) {
                    background-image: url("../img/case-studies/sb/sbPoster1.jpg");
                    background-size: contain;
                    grid-area: SP1;
                }

                li:nth-child(2) {
                    background-image: url("../img/case-studies/sb/sbPoster2.jpg");
                    background-size: contain;
                    grid-area: SP2;
                }

                li:nth-child(3) {
                    background-image: url("../img/case-studies/sb/sbPoster1.jpg");
                    background-position: right bottom;
                    background-size: auto 300%;
                    grid-area: SPZ1;
                }

                li:nth-child(4) {
                    background-image: url("../img/case-studies/sb/sbPoster1.jpg");
                    background-position: center 16%;
                    background-size: auto 300%;
                    grid-area: SPZ2;
                    @include lg {
                        background-size: auto 400%;
                    }
                    @include xl {
                        background-size: auto 480%;
                    }
                }

                li:nth-child(5) {
                    background-image: url("../img/case-studies/sb/sbPosterMockup.jpg");
                    grid-area: SBPM;
                }

                li:nth-child(6) {
                    grid-area: paragraph1;

                    p {
                        width: 100%;
                    }
                }
            }
        }
    }
}
