/* =============
    SHM Hero
============= */
@use '../../abstracts' as *;

#shmHero {
    background-image: url("../img/case-studies/shm/shmHero.jpg");
    background-position: center;
    article{
        h1{
            hyphens:manual;
        }
    }
}
