/* =============
    SHM Text
============= */
#shmText3 {
    > div {
        article {
            grid-template-areas: "p" "l";
            @include md {
                grid-template-areas: "p l";
            }

            p {
                @include margin(null,null,48px,null);
                @include dark {
                    color: $white;
                }
                @include md {
                    @include margin(null,null,0px,null);
                }
            }

            figure {
                grid-area: l;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                height: 104px;
                background-image: url("../img/case-studies/shm/shmLogoBlack.svg");
                @include dark {
                    background-image: url("../img/case-studies/shm/shmLogoWhite.svg");
                }
                @include md {
                    height: 100%;
                }
            }
        }
    }
}
