/* =============
    SHM Text
============= */
#shmText3 {
    background-color: $grey-dark-extra;

    > div {
        article {
            grid-template-areas: "p" "l";
            @include md {
                grid-template-areas: "p l";
            }

            p {
                color: $white;
                @include margin(null,null,48px,null);
                @include md {
                    @include margin(null,null,0px,null);
                }
            }

            figure {
                grid-area: l;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("../img/case-studies/shm/shmLogo.svg");
                height: 104px;
                @include md{
                    height: 100%;
                }
            }
        }
    }
}
