/* =============
    SHM Text
============= */
#shmText1 {
    background-color: $off-white;
    @include dark {
        background-color: $grey-dark-extra;
    }

    > div {
        article {
            p {
                @include margin(0px,0px,48px,0px);
                @include md {
                    @include margin(0px,0px,56px,0px);
                }
                @include lg {
                    @include margin(0px,0px,64px,0px);
                }
                @include xl {
                    @include margin(0px,0px,80px,0px);
                }
            }

            ul {
                li {}

                li:nth-child(1) {
                    background-image: url("../img/case-studies/shm/shmInfluence.jpg");
                    background-position: center 20%;
                }

                li:nth-child(2) {
                    background-image: url("../img/case-studies/shm/shmExperiments.jpg");
                }

                li:nth-child(3) {
                    background-image: url("../img/case-studies/shm/shmProcess.jpg");
                    @include sm {
                        grid-column: span 2;
                    }
                    @include lg {
                        grid-column: span 1;
                    }
                }
            }
        }
    }
}
