/* =============
    TARGET Prototyping
============= */
@use '../../abstracts' as *;

#slcPrototyping {
    .gallery-3-col{
        img{
            @include md{
                height: 216px;
            }
            @include lg{
                height: 304px;
            }
        }
    }
}