/* =============
    SECOND LIFE COMPOSTING Hero
============= */
@use '../../abstracts' as *;

#slcHero {
    background-image: url("../img/case-studies/slc/slcHero.jpg");
    article{
        h1{
            hyphens:manual;
            @include lg{
                hyphens:none;
            }
        }
    }
}
