/* =============
    SECOND LIFE COMPOSTING Prototyping
============= */
@use '../../abstracts' as *;

#slcPrototyping {
    h4{
        @include md{
            width: 80%;
        }
    }
    .gallery-3-col{
        img{
            @include md{
                height: 216px;
            }
            @include lg{
                height: 304px;
            }
        }
    }
}