/* =============
    SOA Gallery
============= */
#soaGallery {
    background-color: $off-white;
    @include dark{
        background-color: $black;
    }

    > div {
        article {
            h2 {}

            ul {
                grid-template-areas:
                "v"
                "paragraph1"
                "ST1"
                "ST2"
                "ST3"
                "ST4"
                "ST5"
                "ST6"
                "ST7";
                grid-template-rows: auto auto 80px 80px 80px 80px 80px 80px 80px;
                @include sm {
                    grid-template-areas:
                    "v v v"
                    "paragraph1 paragraph1 ."
                    "ST1 ST1 ST2"
                    "ST3 . ST4"
                    "ST6 ST6 ."
                    "ST7 ST5 ST5"
                    ". ST5 ST5"
                    ;
                    grid-template-columns: repeat(3,1fr);
                    grid-template-rows: auto auto 80px 80px 184px 80px 80px;
                }
                @include lg {
                    grid-template-areas:
                    "v v v v v v v"
                    ". paragraph1 paragraph1 paragraph1 paragraph1 . ."
                    "ST1 ST3 ST3 ST5 ST5 ST6 ."
                    "ST2 ST2 ST4 ST5 ST5 . ST7"
                    ;
                    grid-template-columns: repeat(7,1fr);
                    grid-template-rows: auto auto 184px 184px;
                }

                li:nth-child(1) {
                    background-image: url("../img/case-studies/soa/soaTimeline1.jpg");
                    grid-area: ST1;
                }

                li:nth-child(2) {
                    background-image: url("../img/case-studies/soa/soaTimeline2.jpg");
                    grid-area: ST2;
                }

                li:nth-child(3) {
                    background-image: url("../img/case-studies/soa/soaTimeline3.jpg");
                    grid-area: ST3;
                }

                li:nth-child(4) {
                    background-image: url("../img/case-studies/soa/soaTimeline4.jpg");
                    grid-area: ST4;
                }
                li:nth-child(5) {
                    background-image: url("../img/case-studies/soa/soaTimeline5.jpg");
                    grid-area: ST5;
                }
                li:nth-child(6) {
                    background-image: url("../img/case-studies/soa/soaTimeline6.jpg");
                    grid-area: ST6;
                }
                li:nth-child(7) {
                    background-image: url("../img/case-studies/soa/soaTimeline7.jpg");
                    grid-area: ST7;
                }
                li:nth-child(8) {
                    grid-area: paragraph1;
                    p{
                        width: 100%;
                    }
                }

                li:nth-child(9){
                    grid-area: v;
                    video{
                        background-image: url("../img/case-studies/soa/soaTimeline1.jpg");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;

                    }
                }
            }

            div {}
        }
    }
}
