/* =============
    TARGET Hero
============= */
@use '../../abstracts' as *;

#tarHero {
    background-image: url("../img/case-studies/tar/tarHero.jpg");
    background-position: bottom center;
    article{
        h1{
            hyphens:manual;
        }
    }
}
