/* =============
    TARGET Prototyping
============= */
@use '../../abstracts' as *;

#tarPrototyping {
    .gallery-4-col{
        img{
            outline: 1px solid $outline;
            border-radius: 8px;
        }
    }
}