/* =============
    TARGET Branding
============= */
@use '../../abstracts' as *;

#tarBranding {
    article {
        .color-palette:nth-of-type(1) {
            div {
                svg:nth-of-type(1) {
                    circle {
                        fill: #CC0000;
                    }
                }

                svg:nth-of-type(2) {
                    circle {
                        fill: #9F1C1F;
                    }
                }

                svg:nth-of-type(3) {
                    circle {
                        fill: #1CAB1C;
                    }
                }

                svg:nth-of-type(4) {
                    circle {
                        fill: #000000;
                    }
                }

                svg:nth-of-type(5) {
                    circle {
                        fill: #333333;
                    }
                }

                svg:nth-of-type(6) {
                    box-shadow: inset 0px 0px 0px 1px rgba($outline, 0.2);

                    circle {
                        fill: #FFFFFF;
                    }
                }
            }
        }

        .color-palette:nth-of-type(2) {
            div {
                svg:nth-of-type(1) {
                    circle {
                        fill: #7F0000;
                    }
                }

                svg:nth-of-type(2) {
                    circle {
                        fill: #006600;
                    }
                }

                svg:nth-of-type(3) {
                    circle {
                        fill: #FFE500;
                    }
                }

                svg:nth-of-type(4) {
                    circle {
                        fill: #666666;
                    }
                }

                svg:nth-of-type(5) {
                    circle {
                        fill: #F4F4F4;
                    }
                }

                svg:nth-of-type(6) {
                    circle {
                        fill: #F7F7F7;
                    }
                }
            }
        }

        .case-study-typography {
            div {
                .case-study-typography-type-style:nth-of-type(1) {
                    li:nth-child(1) {
                        font-size: 18px;
                        font-weight: 700;
                        text-transform: capitalize;
                    }
                }

                .case-study-typography-type-style:nth-of-type(2) {
                    li:nth-child(1) {
                        font-size: 18px;
                        font-weight: 400;
                        letter-spacing: 0.5px;
                        text-transform: none;

                    }
                }

                .case-study-typography-type-style:nth-of-type(3) {
                    li:nth-child(1) {
                        font-size: 16px;
                        font-weight: 700;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                    }
                }

                .case-study-typography-type-style:nth-of-type(4) {

                    li:nth-child(1) {
                        font-size: 12px;
                        font-weight: 700;
                        letter-spacing: 0.4px;
                    }
                }
            }
        }
        .gallery-2-col{
            align-items: flex-start;
        }
        .case-study-imagery{
            display: flex;
            flex-direction: column;
            ul{
                align-items: center;
            }
        }
    }
}