/* =============
    TARGET Branding
============= */
#tarBranding {
    padding-top: 0px;

    article {
        .color-palette-group {
            .color-palette {
                div {
                    svg:nth-of-type(1) {
                        box-shadow: inset 0px 0px 0px 1px rgba($outline, 0.2);
                        circle {
                            fill: #FCFCFC;
                        }
                    }

                    svg:nth-of-type(2) {

                        circle {
                            fill: #E9E8E7;
                        }
                    }

                    svg:nth-of-type(3) {

                        circle {
                            fill: #1A1A1A;
                        }
                    }

                    svg:last-child {
                        circle {
                            fill: #FFBF00;
                        }
                    }
                }

            }

        }

        .color-palette:nth-of-type(1) {
            div {
                svg:nth-of-type(4) {
                    circle {
                        fill: #10DAD7;
                    }
                }

                svg:nth-of-type(5) {
                    circle {
                        fill: #003A4C;
                    }
                }

            }
        }

        .color-palette:nth-of-type(2) {
            div {
                svg:nth-of-type(4) {
                    circle {
                        fill: #F28092;
                    }
                }

                svg:nth-of-type(5) {
                    circle {
                        fill: #E60026;
                    }
                }

                svg:nth-of-type(6) {
                    circle {
                        fill: #72051B;
                    }
                }



            }
        }

        .color-palette:nth-of-type(3) {
            div {
                svg:nth-of-type(4) {
                    circle {
                        fill: #B89FDF;
                    }
                }

                svg:nth-of-type(5) {
                    circle {
                        fill: #7140BF;
                    }
                }

                svg:nth-of-type(6) {
                    circle {
                        fill: #382468;
                    }
                }

            }
        }

        .case-study-typography {
            div {
                .case-study-typography-type-style:nth-of-type(1) {
                    li:nth-child(1) {
                        font-size: 18px;
                        font-weight: 700;
                        text-transform: capitalize;
                    }
                }

                .case-study-typography-type-style:nth-of-type(2) {
                    li:nth-child(1) {
                        font-size: 18px;
                        font-weight: 400;
                        letter-spacing: 0.5px;
                        text-transform: none;

                    }
                }

                .case-study-typography-type-style:nth-of-type(3) {
                    li:nth-child(1) {
                        font-size: 16px;
                        font-weight: 700;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                    }
                }

                .case-study-typography-type-style:nth-of-type(4) {

                    li:nth-child(1) {
                        font-size: 12px;
                        font-weight: 700;
                        letter-spacing: 0.4px;
                    }
                }
            }
        }
    }
}