/* =============
    TINDER Hero
============= */
@use '../../abstracts' as *;

#tgHero {
    background-image: url("../img/case-studies/tg/tgHero.jpeg");
    article{
        h1{
            hyphens:manual;
        }
    }
}
