/* =============
    TPS Hero
============= */
@use '../../abstracts' as *;

#tpsHero {
    background-image: url("../img/case-studies/tps/tpsHero.png");
    background-position: right bottom;
    article{
        h1{
            hyphens:manual;
        }
    }

}
