/* =============
    TPS Gallery
============= */
#tpsGallery {
    background-color: $off-white;
    @include dark {
        background-color: $grey-dark-extra;
    }

    > div {
        article {
            h2 {}

            ul {
                grid-template-areas: "paragraph1" "TBP" "TWB" "TBC" "TBS1" "TP";
                grid-template-rows: auto 400px 280px 240px 200px 480px;
                @include sm {
                    grid-template-areas: "paragraph1 paragraph1 ." "TBP TBP TBP" "TWB TWB TWB" "TBC TBS1 TBS1" "TP TP TP";
                    grid-template-columns: repeat(3,1fr);
                    grid-template-rows: auto 504px 304px 232px 504px;
                }
                @include md {
                    grid-template-areas: "paragraph1 paragraph1 ." "TBP TBP TBP" ". TWB TWB" "TBC TBS1 TBS1" "TP TP .";
                    grid-template-rows: auto 504px 304px 280px 640px;
                }
                @include lg {
                    grid-template-areas: "paragraph1 paragraph1 paragraph1 paragraph1 . . ." "TBP TBP TBP . . . ." "TBP TBP TBP . TWB TWB TWB" "TBC TBC TBS1 TBS1 TBS1 TBS1 .";
                    grid-template-columns: repeat(7,1fr);
                    grid-template-rows: auto 200px 344px 304px;
                }

                li:nth-child(1) {
                    background-image: url("../img/case-studies/tps/tpsBuildingPoster.jpg");
                    grid-area: TBP;
                }

                li:nth-child(2) {
                    background-image: url("../img/case-studies/tps/tpsWebBanner.jpg");
                    grid-area: TWB;
                    background-size: contain;
                }

                li:nth-child(3) {
                    background-image: url("../img/case-studies/tps/tpsBrochureCover.jpg");
                    grid-area: TBC;
                }

                li:nth-child(4) {
                    background-image: url("../img/case-studies/tps/tpsBrochureSpread1.jpg");
                    grid-area: TBS1;
                }

                li:nth-child(5) {
                    background-image: url("../img/case-studies/tps/tpsPoster.jpg");
                    grid-area: TP;
                }

                li:nth-child(6) {
                    grid-area: paragraph1;

                    p {
                        width: 100%;
                    }
                }
            }

            div {}
        }
    }
}
