/* =============
    TPS Text
============= */
#tpsText1 {
    > div {
        article {
            p {
                @include margin(null,null,32px,null);
                @include xl {
                    @include margin(null,null,80px,null);
                }
            }

            ul {
                @include lg {
                    grid-template-columns: repeat(4,1fr);
                }

                li {}

                li:nth-child(3) {
                    background-image: url("../img/case-studies/tps/tpsInspiration2.jpg");
                }

                li:nth-child(4) {
                    background-image: url("../img/case-studies/tps/tpsInspiration1.jpg");
                }

                li:nth-child(1) {
                    background-image: url("../img/case-studies/tps/tpsLogo.svg");
                    background-size: contain;
                }

                li:nth-child(2) {
                    background-image: url("../img/case-studies/tps/tpsWorkTogether.jpg");
                }
            }
        }
    }
}
