/* =============
    TRIUMPH Text
============= */
@use '../../abstracts' as *;

#triumphText1 {
    > div {
        article {
            grid-template-areas: "p""v";
            @include sm {
                grid-template-areas: "v p";
            }

            div {
                grid-area: v;
                position: relative;

                video {
                    background-image: url("../img/case-studies/triumph/triumphHero.jpg");
                    background-position: right center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    // font-family: 'Montserrat', sans-serif;
                }
            }
        }
    }
}
