/* =============
    TRIUMPH Gallery
============= */
#triumphGallery {
    > div {
        article {
            ul {
                grid-template-areas: "Codepen" "paragraph";
                grid-template-rows: auto auto;
                @include sm {
                    grid-template-columns: repeat(3,1fr);
                    grid-template-areas: ". Codepen Codepen" "paragraph paragraph .";
                }
                @include lg {
                    grid-template-areas: "Codepen Codepen Codepen paragraph paragraph paragraph paragraph";
                    grid-template-columns: repeat(7,1fr);
                    grid-template-rows: auto;
                }

                li:nth-child(1) {
                    grid-area: Codepen;
                    height: 100%;
                    // width: 800px;
                }

                li:nth-child(2) {
                    grid-area: paragraph;

                    p {
                        width: 100%;
                    }
                }
            }
        }
    }
}
