/* =============
    TRIUMPH Text
============= */
#triumphText1 {
    background-color: $off-white;
    @include dark {
        background-color: $grey-dark-extra;
    }

    > div {
        article {
            grid-template-areas: "p""v";
            @include sm {
                grid-template-areas: "v p";
            }

            p {};

            div {
                grid-area: v;
                position: relative;

                video {
                    background-image: url("../img/case-studies/triumph/triumphHero.jpg");
                    background-position: right center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    // font-family: 'Montserrat', sans-serif;
                }
            }
        }
    }
}
