/* =============
    TikTok Branding
============= */
#ttBranding {
    article {
        .color-palette {
            margin: 0px auto;

            ul {
                display: flex;
                flex-wrap: wrap;

                li {
                    width: 100px;
                    @include md {
                        width: 12vw;
                    }

                    @include lg {
                        width: 6vw;
                    }
                }

                li:nth-child(1) {
                    background-color: #08082B;
                }

                li:nth-child(2) {
                    background-color: #0F0C46;
                }

                li:nth-child(3) {
                    background-color: #FACD13;
                }

                li:nth-child(4) {
                    background-color: #F7F7F7;
                    border: 1px solid #D4D4D4;
                }

            }
        }
        img:nth-child(10){
            margin: 0px auto;
            height: 100%;
            width:80%;
            object-fit: contain;
            aspect-ratio: auto;
        }
        div.gallery-2-col{
            margin: 0px auto;
            width:80%;
        }
    }
}