/* =============
    TIKTOK Hero
============= */
@use '../../abstracts' as *;

#ttHero {
    background-image: url("../img/case-studies/tt/ttHero.jpg");
    article{
        h1{
            hyphens:manual;
        }
    }
}
