/* =============
    404 Main
============= */
#FourOhFourMain {
    background-image: url("../img/404/404op2.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 64vh;
    >div{
        align-items: flex-start;
        display: flex;
        justify-content: center;
        article{
            grid-gap: 16px;
            display: grid;
            grid-template-areas: "h1""p""btn";
            grid-template-columns: repeat(1,1fr);
            @include margin(16vh,0px,0px,0px);
            @include dark{
                color: $dark-purple;
            }
            @include sm {
                grid-template-areas: "h1 h1 h1" "p p ." "btn btn .";
                grid-template-columns: repeat(3,1fr);
            }
            @include md {
                grid-gap: 24px;
            }
            @include lg {
                grid-gap: 0px 32px;
                grid-template-areas: "h1 h1 h1 h1 h1" "p p . . ." "btn btn . . .";
                grid-template-columns: repeat(5,1fr);

            }


            h1{
                font-size: rem-calc(48);
                grid-area: h1;
            }
            p{
                grid-area: p;
            }
            div{
                grid-area: btn;
                @include margin(64px,0px,0px,0px);
                @include md {
                    @include margin(72px,0px,0px,0px);
                }
                @include lg {
                    @include margin(80px,0px,0px,0px);
                }
                @include xl {
                    @include margin(96px,0px,0px,0px);
                }

                a{
                    i{}
                }
            }
        }
    }
}
