/* =============
    Typography
============= */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    // line-height: rem-calc(0);
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: 'Elza', sans-serif;
}

h1 {
    font-size: rem-calc(40);
    font-style: normal;
    font-weight: 600;
    line-height: rem-calc(36);
    @include md{
        font-size: rem-calc(52);
        line-height: rem-calc(48);
    }
    @include lg {
        font-size: rem-calc(68);
        line-height: rem-calc(64);
    }
}

h2 {
    font-size: rem-calc(28);
    font-weight: 600;
    letter-spacing: rem-calc(0.1);
    line-height: rem-calc(38);
    @include lg {
        font-size: rem-calc(40);
        line-height: rem-calc(56);
    }
}

h3 {
    font-size: rem-calc(24);
    font-weight: 500;
    letter-spacing: rem-calc(0.08);
    @include lg {
        font-size: rem-calc(32);
    }
}

h4 {
    font-size: rem-calc(20);
    font-weight: 500;
    letter-spacing: rem-calc(0.04);
    @include lg {
        font-size: rem-calc(28);
    }
}

h6 {
    color: $purple;
    font-size: rem-calc(32);
    font-weight: 500;
    letter-spacing: rem-calc(0.08);
    @include sm {
        font-size: rem-calc(34);
        letter-spacing: rem-calc(0.125);
    }
    @include md {
        letter-spacing: rem-calc(0.2);
    }
    // @include lg {
    //     font-size: rem-calc(24);
    // }
    span {
        color: $white;
        font-weight: 600;
        @include lg {
            color: $purple;
        }
    }
}

p {
    font-size: rem-calc(16);
    font-weight: 400;
    line-height: rem-calc(28);
    @include lg {
        font-size: rem-calc(18);
        line-height: rem-calc(30);
    }

    span {
        color: $purple;
        font-weight: 600;
        @include dark {
            color: $light-purple;
        }
    }

    a {
        font-family: 'IBM Plex Mono', monospace;
        font-weight: 700;
    }
}

a {
    text-decoration: none;
    color: $purple;
    transition: 0.25s;

    &:hover {
        color: $dark-purple;
    }

    &:active {
        color: $dark-orange;
    }
    @include dark {
        color: $light-purple;

        &:hover {
            color: $light-pink;
        }

        &:active {
            color: $light-orange;
        }
    }
}
