/* =============
    Typography
============= */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    text-align: left;
    font-style: normal;
}

// Display
h1 {
    font-size: rem-calc(60);
    line-height: rem-calc(64);
    font-variation-settings: "slnt" 0, "wdth" 100, "wght" 800, "INKT" 80;
    margin: 0;
    letter-spacing: 1px;

    @include md {
        font-size: rem-calc(88);
        line-height: rem-calc(92);
    }

    @include lg {
        font-size: rem-calc(128);
        line-height: rem-calc(132);
    }
}

// Headline
h2 {

    font-size: rem-calc(40);  
    font-variation-settings: "slnt" 0, "wdth" 160, "wght" 600, "INKT" 80;

    line-height: rem-calc(48);
    letter-spacing: 0.2px;

    @include md {
        font-size: rem-calc(52);
        line-height: rem-calc(64);
    }

    @include lg {
        font-size: rem-calc(64);
        line-height: rem-calc(76);
    }
}

// Title
h3 {
    font-size: rem-calc(24);   
    font-variation-settings: "slnt" 0, "wdth" 140, "wght" 500, "INKT" 50; 
    line-height: rem-calc(28);

    @include md {
        font-size: rem-calc(28);
        line-height: rem-calc(36);
    }

    @include lg {
        font-size: rem-calc(32);
        line-height: rem-calc(40);
    }
}

// Kicker
h4 {
    font-size: rem-calc(16);
    font-variation-settings: "slnt" 0, "wdth" 100, "wght" 600, "INKT" 00; 
    line-height: rem-calc(24);
}

// Captions
h5 {
    font-size: rem-calc(12);  
    font-variation-settings: "slnt" 0, "wdth" 100, "wght" 400, "INKT" 00; 
    line-height: rem-calc(16);
    letter-spacing: 0.64px;

}

// Button Labels
h6 {
    font-size: rem-calc(20);
    font-variation-settings: "slnt" 0, "wdth" 100, "wght" 800, "INKT" 100; 
    line-height: rem-calc(20);
    letter-spacing: 0.12px;
    text-transform: capitalize;
}

// Body
p {
    font-size: rem-calc(18);
    font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 00; 
    line-height: rem-calc(28);
    letter-spacing: 0.2px;


    @include lg {
        font-size: rem-calc(20);
        line-height: rem-calc(30);
    }

    > a {
        font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 00; 
        color: $primary;
    }
}
.caption{
    font-size: rem-calc(12);  
    font-variation-settings: "slnt" 0, "wdth" 100, "wght" 400, "INKT" 00; 
    line-height: rem-calc(16);
    letter-spacing: 0.64px;

}
a {
    text-decoration: none;
    color: blue;
    transition: 0.25s;

    &:hover {
        color: darkblue;
    }

    &:active {
        color: red;
    }
}