/* =============
    Typography
============= */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    text-align: left;
}

// Display
h1 {
    font-size: rem-calc(40);
    font-style: normal;
    font-weight: 600;
    line-height: rem-calc(36);

    @include md {
        font-size: rem-calc(52);
        line-height: rem-calc(48);
    }

    @include lg {
        font-size: rem-calc(68);
        line-height: rem-calc(64);
    }
}

// Headline
h2 {

    font-size: rem-calc(28);
    font-style: normal;
    font-weight: 400;
    line-height: rem-calc(32);

    @include md {
        font-size: rem-calc(40);
        line-height: rem-calc(48);
    }

    @include lg {
        font-size: rem-calc(52);
        line-height: rem-calc(64);
    }
}

// Title
h3 {

    font-size: rem-calc(16);
    font-style: normal;
    font-weight: 500;
    line-height: rem-calc(24);

    @include md {
        font-size: rem-calc(24);
        line-height: rem-calc(28);
    }

    @include lg {
        font-size: rem-calc(36);
        line-height: rem-calc(44);
    }
}

// Kicker
h4 {

    font-size: rem-calc(16);
    font-style: normal;
    font-weight: 600;
    line-height: rem-calc(24);
}

// Captions
h5 {
    font-size: rem-calc(12);
    font-style: normal;
    font-weight: 400;
    line-height: rem-calc(16);
    letter-spacing: 0.64px;
}

// Button Labels
h6 {
    // leading-trim: both;
    // text-edge: cap;
    font-size: rem-calc(16);
    font-style: normal;
    font-weight: 600;
    line-height: rem-calc(20);
    letter-spacing: 1px;
    text-transform: capitalize;
}

// Body
p {
    font-size: rem-calc(16);
    font-weight: 400;
    line-height: rem-calc(28);

    @include lg {
        font-size: rem-calc(18);
        line-height: rem-calc(30);
    }

    a {
        font-family: 'Elza', monospace;
        font-weight: 700;
    }
}

a {
    text-decoration: none;
    color: blue;
    transition: 0.25s;

    &:hover {
        color: darkblue;
    }

    &:active {
        color: red;
    }
}