/* =============
    Typography
============= */
@use '../abstracts' as *;
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    text-align: left;
    font-style: normal;
}

// Display
h1 {
    font-size: rem-calc(60);
    line-height: rem-calc(60);
    font-variation-settings: "slnt"0, "wdth"100, "wght"800, "INKT"100;
    margin: 0;
    letter-spacing: 1px;

    @include md {
        font-size: rem-calc(88);
        line-height: rem-calc(88);
    }

    @include lg {
        font-size: rem-calc(128);
        line-height: rem-calc(128);
    }
}

// Headline
h2 {

    font-size: rem-calc(40);
    font-variation-settings: "slnt"0, "wdth"160, "wght"600, "INKT"80;

    line-height: rem-calc(52);
    letter-spacing: 1px;

    padding-bottom: 8px;

    @include md {
        font-size: rem-calc(52);
        line-height: rem-calc(64);
    }

    @include lg {
        font-size: rem-calc(64);
        line-height: rem-calc(76);
    }
}

// Title
h3 {
    font-size: rem-calc(24);
    font-variation-settings: "slnt"0, "wdth"140, "wght"500, "INKT"100;
    line-height: rem-calc(28);
    letter-spacing: 0.5px;


    @include md {
        font-size: rem-calc(28);
        line-height: rem-calc(36);
    }

    @include lg {
        font-size: rem-calc(32);
        line-height: rem-calc(40);
    }
}

// Kicker
h4 {
    font-size: rem-calc(16);
    font-variation-settings: "slnt"0, "wdth"100, "wght"600, "INKT"00;
    line-height: rem-calc(24);
    opacity: 0.72;
}

// Captions
h5 {
    font-size: rem-calc(12);
    font-variation-settings: "slnt"0, "wdth"100, "wght"400, "INKT"00;
    line-height: rem-calc(16);
    letter-spacing: 0.64px;

}

// Button Labels
h6 {
    font-size: rem-calc(20);
    font-variation-settings: "slnt"0, "wdth"100, "wght"800, "INKT"100;
    line-height: rem-calc(24);
    letter-spacing: 0.12px;
    text-transform: capitalize;
    @include lg{
    font-size: rem-calc(24);

    line-height: rem-calc(28);
    }
}

// Body
p {
    font-size: rem-calc(18);
    font-variation-settings: "slnt"0, "wdth"100, "wght"500, "INKT"00;
    line-height: rem-calc(28);
    letter-spacing: 0.2px;
    hyphens: manual;
    text-wrap: pretty;

    @include lg {
        font-size: rem-calc(20);
        line-height: rem-calc(32);
    }

    >a {
        text-decoration: none;
        transition: 0.25s;
        font-variation-settings: "slnt"0, "wdth"100, "wght"800, "INKT"100;
        color: $primary;

        &:link,
        &:visited {
            color: $primary;
            border-bottom: 2px solid $primary;
        }

        &:hover,
        &:active {
            color: $on-primary-container;
            border-bottom: 2px solid $on-primary-container;
        }
    }

    strong,
    b {
        font-variation-settings: "slnt"0, "wdth"100, "wght"800, "INKT"100;
        letter-spacing: 0.4px;
    }

    em {
        font-variation-settings: "slnt"-1, "wdth"100, "wght"500, "INKT"00;
    }
}

blockquote {
    margin: 0;
    border-left: 4px solid $primary;
    padding-left: 16px;
}

figcaption {
    font-size: rem-calc(12);
    font-variation-settings: "slnt"0, "wdth"100, "wght"400, "INKT"00;
    line-height: rem-calc(16);
    letter-spacing: 0.64px;
    padding-top: rem-calc(12);
    text-align: center;
    opacity: 0.72;

    @include md {
        font-size: rem-calc(16);
        line-height: rem-calc(20);
        padding-top: rem-calc(16);
    }
}

.kicker {
    font-size: rem-calc(12);
    font-variation-settings: "slnt"0, "wdth"100, "wght"400, "INKT"00;
    line-height: rem-calc(16);
    letter-spacing: 0.64px;
}

a {
    text-decoration: none;
    transition: 0.25s;
    font-variation-settings: "slnt"0, "wdth"100, "wght"800, "INKT"100;
    color: $primary;

    &:link,
    &:visited {
        color: $primary;
    }

    &:hover,
    &:active {
        color: $secondary;
    }
}

cite {
    font-style: normal;
}

ol {
    li {
        margin-bottom: 8px;

        &::marker {
            font-size: rem-calc(20);
            font-variation-settings: "slnt"-1, "wdth"600, "wght"800, "INKT"100;
            letter-spacing: -0.5px;
            // color: $on-surface-variant;
            padding-right: 20px;
        }
    }
}