/* =============
    Typography
============= */
@use '../abstracts/_colorVariables' as *;

$elevation-1: 0px 1px 0px 1px rgba($shadow, 0.08), 0px 1px 0px 0px rgba($shadow, 0.24);
$elevation-2: 0px 2px 0px 2px rgba($shadow, 0.08), 0px 1px 0px 0px rgba($shadow, 0.24);
$elevation-3: 0px 3px 0px 3px rgba($shadow, 0.08), 0px 1px 0px 0px rgba($shadow, 0.24);
$elevation-4: 0px 5px 0px 4px rgba($shadow, 0.08), 0px 3px 0px 2px rgba($shadow, 0.24);
$elevation-5: 0px 6px 0px 6px rgba($shadow, 0.08), 0px 5px 0px 2px rgba($shadow, 0.24);

.elevation-1 {
    box-shadow: $elevation-1;
}

.elevation-2 {
    box-shadow: $elevation-2;
}

.elevation-3 {
    box-shadow: $elevation-3;
}

.elevation-4 {
    box-shadow: $elevation-4;
}

.elevation-5 {
    box-shadow: $elevation-5;
}