/* =============
    Padding Variables
============= */
@use 'mixins' as *;

.bkpt-side-margin {
    margin-right: 20px;
    margin-left: 20px;

    @include md {
        margin-right: 40px;
        margin-left: 40px;
    }

    @include lg {
        margin-right: 64px;
        margin-left: 64px;
    }
}

.gap-h {
    column-gap: 24px;

    @include lg {
        column-gap: 36px;
    }

}

.gap-v {
    row-gap: 24px;

    @include lg {
        row-gap: 36px;
    }

}

.padding-tb {
    padding-top: 24px;
    padding-bottom: 24px;

    @include lg {
        padding-top: 36px;
        padding-bottom: 36px;

    }
}

.padding-lr {
    padding-right: 24px;
    padding-left: 24px;

    @include lg {
        padding-right: 36px;
        padding-left: 36px;

    }
}

.section-content {
    display: grid;
    grid-template-areas: ". content .";
    grid-template-columns: 20px auto 20px;

    @include md {
        grid-template-columns: 40px auto 40px;
    }

    @include lg {
        grid-template-columns: 64px auto 64px;
    }

    @include xl {
        grid-template-columns: 8vw auto 8vw;
    }

    >:first-child {
        grid-area: content;
    }
}

.section-margin {
    margin-top: 64px;
    margin-bottom: 64px;

    @include md {
        margin-top: 104px;
        margin-bottom: 104px;
    
    }

    @include lg {
        margin-top: 136px;
        margin-bottom: 136px;
    
    }
}

.section-padding {
    padding-top: 64px;
    padding-bottom: 64px;

    @include md {
        padding-top: 104px;
        padding-bottom: 104px;
    
    }

    @include lg {
        padding-top: 136px;
        padding-bottom: 136px;
    
    }
}