/* =============
    About Who
============= */
#aboutWho {
    display: flex;
    flex-direction: column;
    background-color: $surface-light-1;

    @include md {
        flex-direction: row-reverse;
        justify-content: flex-end;
        padding-left: 40px;
        padding-right: 40px;

    }
    @include lg {
        padding-left: 64px;
        padding-right: 64px;
    }
    @include xl {
        padding-left: 12vw;
        padding-right: 12vw;
    }

    article {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;

        @include md {
            width: 60%;
            padding-left: 0px;
            padding-right: 0px;
        }
        @include lg{
            max-width: 600px;
        }
    }

    aside {
        padding: 0px 20px;

        @include sm {
            width: 80%;

        }

        @include md {
            width: 40%;
            padding: 0px;
        }

        figure {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            height: 100%;

            img {
                object-fit: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                aspect-ratio: 1/1;

                @include md {
                    aspect-ratio: unset;
                }
            }
        }
    }
}