/* =============
    About Who
============= */
@use '../../abstracts' as *;

#aboutWho {
    >div{
        display:flex;
        flex-direction: column;
        @include md{
            flex-direction: row;
        }
        aside {
            @include md{
                width: 80%;
            }
            @include lg{
                width: 32vw;
            }
            @include xl{
                width: 16vw;
            }
            img{
                aspect-ratio: 1/1;
                border-radius: 16px;
            }
        }
    
    }
}