/* =============
    About Hero
============= */
#aboutHero {
    background-image: url("../img/about/Hero.jpg");
    background-position: center top;
    min-height: 504px;
    height: 72vh;
    @supports (background-blend-mode: multiply) {
        background-blend-mode: multiply;
        background-color: $light-orange;

        background-image: url("../img/about/HeroGrey.jpg");
        @include dark{
            background-color: $orange;

        }
    }
    @include lg {
        @supports (background-attachment: fixed) {
            background-attachment: fixed;
        }
    }

    > div {
        article {
            h1 {}
        }
    }
}
