/* =============
    Resume Skills
============= */
#resumeSkills {
    > div {
        display: grid;
        grid-template-areas: "h2" "skills";
        grid-template-columns: repeat(1,1fr);
        @include lg{
            width: 75%;

        }

        h2 {
            grid-area: h2;
        }

        article {
            grid-gap: 16px 0px;
            display: grid;
            grid-area: skills;
            grid-auto-flow: column;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(4,auto);

            @include md {
                grid-gap: 16px 24px;
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(2,auto);
            }
            @include lg {
                grid-gap: 16px 32px;

            }

            div:nth-child(1),
            div:nth-child(2),
            div:nth-child(3),
            div:nth-child(4) {
                display: grid;
                grid-template-areas: "h4" "ul1";
                grid-template-columns: repeat(1,1fr);
                @include md {
                    @include margin(0px,0px,auto,0px);
                }

                h4 {
                    grid-area: h4;
                    @include margin(0px,0px,4px,0px);
                }

                ul {
                    grid-gap: 0 16px;
                    display: grid;
                    grid-auto-flow: column;
                    grid-template-columns: repeat(2,1fr);
                    @include md{
                        grid-template-columns: 40% auto;
                    }
                    @include lg {
                        grid-template-columns: 24% auto;
                    }

                }


                ul:nth-child(2) {
                    grid-area: ul1;
                }
            }

            div:nth-child(1) {
                ul {
                    grid-template-rows: repeat(4,1fr);
                }
            }

            div:nth-child(2),
            div:nth-child(4) {
                ul {
                    grid-template-rows: repeat(3,1fr);
                }
            }

            div:nth-child(3) {
                ul {
                    grid-template-rows: repeat(2,1fr);
                }
            }

            div:last-of-type {
                @include margin(0px,0px,0px,0px);
            }
        }
    }
}
