/* =============
    Resume Activities
============= */
#resumeActivities {
    background-color: $off-white;
    @include dark {
        background-color: $grey-dark-extra;
    }

    > div {
        display: grid;
        grid-template-areas: "activities";
        grid-template-columns: repeat(1,1fr);
        @include lg {
            width: 75%;
        }

        article {
            grid-area: activities;
        }
    }
}
