/* =============
    Resume Experience
============= */
#resumeExperience {
    background-color: $surface-variant;

    article {
        display: flex;
        flex-direction: column;

        @include lg {
            width: 75%;
        }
        h2{
            color: $on-surface-variant;
        }
        div {
            ul {
                margin-top: 8px;
                display: flex;
                flex-direction: column;
                row-gap: 4px;
                p{
                    color: $on-surface-variant;

                }
            }
        }
    }
}