/* =============
    Resume Education
============= */
#resumeEducation {
    background-color: $off-white;

    > div {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: "btn" "edu";


        aside {
            grid-area: btn;
            grid-gap: 0px 16px;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-template-areas: "b";
            @include padding(72px,null,64px,null);
            @include sm {
                grid-template-columns: repeat(3,1fr);
                grid-template-areas: "b b .";
            }
            @include md {
                grid-gap: 0px 24px;
                @include padding(null,null,72px,null);
            }
            @include lg {
                grid-template-columns: repeat(5,1fr);
                grid-template-areas: "b b . . .";
                @include padding(80px,null,80px,null);
                grid-gap: 0px 32px;

            }
            @include xl {
                @include padding(null,null,96px,null);
            }

            div {
                grid-area: b;
                width: 100%;

                a {
                    width: 100%;
                }
            }
        }

        article {
            grid-area: edu;
            @include lg{
                width: 75%;

            }

        }
    }
}
