/* =============
    Resume Activities
============= */
#resumeActivities {
    background-color: $off-white;
    > div {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: "activities";
        @include lg{
            width: 75%;

        }


        article {
            grid-area: activities;
        }
    }
}
