/* =============
    Resume Courses
============= */
@use '../../abstracts' as *;

#resumeCourses {
    background-color: $off-white;
    @include dark {
        background-color: $grey-dark-extra;
    }

    > div {
        display: grid;
        grid-template-areas: "rc";
        grid-template-columns: repeat(1,1fr);
        @include lg {
            width: 75%;
        }

        article {
            grid-area: rc;

            div {
                display: grid;
                grid-template-areas: "h2" "ul1" "ul2";
                grid-template-columns: repeat(1,1fr);
                @include md {
                    grid-gap: 0 24px;
                    grid-template-areas: "h2 h2" "ul1 ul2";
                    grid-template-columns: repeat(2,1fr);
                }
                @include lg {
                    grid-gap: 0 32px;
                }

                h2 {
                    grid-area: h2;
                }

                ul {
                    li {
                        p:last-of-type {
                            @include margin(0px,0px,8px,0px);
                        }
                    }

                    li:last-of-type {
                        p:last-of-type {
                            @include margin(0px,0px,0px,0px);
                        }
                    }
                }

                ul:nth-child(2) {
                    grid-area: ul1;
                    @include margin(0px,0px,8px,0px);
                    @include md {
                        @include margin(0px,0px,0px,0px);
                    }
                }

                ul:nth-child(3) {
                    grid-area: ul2;
                }
            }
        }
    }
}
