/* =============
    Resume Education
============= */
#resumeEducation {
    background-color: $off-white;
    @include dark {
        background-color: $grey-dark-extra;
    }

    > div {
        display: grid;
        grid-template-areas: "btn" "edu";
        grid-template-columns: repeat(1,1fr);

        aside {
            grid-gap: 0 16px;
            display: grid;
            grid-area: btn;
            grid-template-areas: "b";
            grid-template-columns: repeat(1,1fr);
            @include padding(72px,null,64px,null);
            @include sm {
                grid-template-areas: "b b .";
                grid-template-columns: repeat(3,1fr);
            }
            @include md {
                grid-gap: 0 24px;
                @include padding(null,null,72px,null);
            }
            @include lg {
                grid-gap: 0 32px;
                grid-template-areas: "b b . . .";
                grid-template-columns: repeat(5,1fr);
                @include padding(80px,null,80px,null);
            }
            @include xl {
                @include padding(null,null,96px,null);
            }

            div {
                grid-area: b;
                width: 100%;

                a {
                    width: 100%;
                }
            }
        }

        article {
            grid-area: edu;
            @include lg {
                width: 75%;
            }
        }
    }
}
