/* =============
    Resume Honors
============= */
@use '../../abstracts' as *;

#resumeHonors {
    >article {
        display: flex;
        flex-direction: column;

        @include lg {
            width: 75%;
        }
    }
}