/* =============
    Resume Education
============= */
@use '../../abstracts' as *;

#resumeEducation {
    >article {
        display: flex;
        flex-direction: column;

        @include lg {
            width: 75%;
        }

        div {
            display: flex;
            flex-direction: column;
            row-gap: 4px;
        }
    }
}