/* =============
    Resume Experience
============= */
@use '../../abstracts'as *;

#resumeExperience {
    article {
        display: flex;
        flex-direction: column;

        @include lg {
            width: 75%;
        }

        h2 {
            color: $on-surface-variant;
        }

        div {
            ul {
                margin-top: 8px;
                display: flex;
                flex-direction: column;
                row-gap: 8px;

                p {
                    color: $on-surface-variant;

                }

                ul {
                    margin-top: 4px;
                    padding-left: 8px;
                    border-left: 2px solid $outline-variant;
                    margin-left: 2px;

                    @include md {
                        padding-left: 12px;
                        margin-left: 8px;
                    }
                }
            }
        }
    }
}