/* =============
    CS Footer
============= */
#csFooter {
    > div {
        article {
            grid-gap: 16px;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-template-areas:"b";
            @include sm {
                grid-template-columns: repeat(3,1fr);
                grid-template-areas:"b b .";
            }
            @include md {
                grid-gap: 24px;
            }
            @include lg {
                grid-template-columns: repeat(5,1fr);
                grid-template-areas:"b b . . .";
            }

            div {
                grid-area: b;
                width: 100%;

                a {
                    width: 100%;
                }
            }
        }
    }
}
