/* =============
    Footer
============= */
@use '../abstracts'as *;

footer {
    height: 96vh;
    background-color: $inverse-surface;
    color: $on-inverse-surface;
    background-image: radial-gradient(circle at center,
            rgba($outline-variant, 0.1) 0.1rem,
            transparent 0), radial-gradient(circle at center, rgba($outline-variant, 0.1) 0.1rem, transparent 0);
    background-size: 1.3rem 1.3rem;
    background-position: 0 0, 0.65rem 0.65rem;

    overflow: hidden;

    .button {
        text-transform: none;
        align-self: flex-start;
    }

    >div {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

        article {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .button {
                >a {
                    font-weight: 400;
                    color: $on-primary;
                }

                &:link,
                &:visited {
                    >a {
                        color: $on-primary;
                    }
                }

                &:hover {
                    >a {
                        background-color: rgba($inverse-primary, $state-hovered);
                        color: $on-primary;
                    }
                }

                &:active {
                    >a {
                        background-color: rgba($inverse-primary, $state-pressed);
                        color: $on-primary;
                    }
                }
            }

            h2 {
                font-size: rem-calc(52);
                line-height: rem-calc(64);
            }
        }

        nav {
            display: flex;
            margin-bottom: 20px;
            margin-top: auto;
            align-items: center;
        }

        aside {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;

            border-radius: 24px;
            background-color: rgba($secondary-container, 0.64);

            @supports (width: stretch) {
                width: stretch;
            }

            @supports (width: -webkit-fill-available) {
                width: -webkit-fill-available;
            }

            @include md {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }

            ul {
                display: flex;
                margin-left: 4px;

                .button {
                    height: 52px;
                    width: 52px;

                    >a {
                        height: 100%;
                        width: 100%;
                        padding: 0px;
                        align-items: center;

                        font-weight: 400;
                        color: $on-secondary-container;
                    }

                    &:link,
                    &:visited {
                        >a {
                            color: $on-secondary-container;
                        }
                    }

                    &:hover {
                        >a {
                            background-color: rgba($secondary, $state-hovered);
                            color: $on-secondary-container;
                        }
                    }

                    &:active {
                        >a {
                            background-color: rgba($secondary, $state-pressed);
                            color: $on-secondary-container;
                        }
                    }
                }

            }

            >div {
                display: flex;
                flex-direction: column;
                gap: 4px;
                width: 100%;

                h5 {
                    text-align: right;
                    color: $on-secondary-container;
                }
            }
        }
    }
}