/* =============
    Footer
============= */
footer {
    height: 100vh;
    background-color: $inverse-surface-variant;
    color: $on-inverse-surface-variant;
    .button {
        text-transform: none;
        align-self: flex-start;

        >a {
            align-self: auto;

            color: $inverse-primary;
        }

        &:link,
        &:visited {
            >a {
                color: $inverse-primary;
            }
        }

        &:hover {
            >a {
                background-color: rgba($inverse-primary, $state-hovered);
                color: $inverse-primary;
            }

        }

        &:active {
            >a {
                background-color: rgba($inverse-primary, $state-pressed);
                color: $inverse-primary;
            }

        }


    }

    > div {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;

        article {
            display: flex;
            flex-direction: column;
            gap: 20px;
            h2{
                text-transform: capitalize;
            }

            .button {
                >a {
                    font-weight: 400;
                    color: $on-primary;
                }

                &:link,
                &:visited {
                    >a {
                        color: $on-primary;
                    }
                }

                &:hover {
                    >a {
                        background-color: rgba($inverse-primary, $state-hovered);
                        color: $on-primary;
                    }

                }

                &:active {
                    >a {
                        background-color: rgba($inverse-primary, $state-pressed);
                        color: $on-primary;
                    }

                }


            }

            h2 {
                font-size: rem-calc(52);
                line-height: rem-calc(64);

            }
        }


        nav {
            display: flex;
            margin-bottom: 20px;
            align-items: center;
        }

        aside {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            @include md{
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;

            }

            ul {
                display: flex;
                margin-left: 4px;
                .button {
                    height: 52px;
                    width: 52px;

                    >a {
                        height: 100%;
                        width: 100%;
                        padding: 0px;
                        align-items: center;
                    }
                }
            }

        }

    }
}