/* =============
    Footer
============= */
@use '../abstracts' as *;

footer {
    height: 96vh;
    background-color: $inverse-surface;
    color: $on-inverse-surface;
    background-image: radial-gradient(circle at center,
            rgba($outline-variant, 0.1) 0.1rem,
            transparent 0), radial-gradient(circle at center, rgba($outline-variant, 0.1) 0.1rem, transparent 0);
    background-size: 1.3rem 1.3rem;
    background-position: 0 0, 0.65rem 0.65rem;

    overflow: hidden;
    position: relative;

    .button {
        text-transform: none;
        align-self: flex-start;

        >a {
            align-self: auto;

            color: $inverse-primary;
        }

        &:link,
        &:visited {
            >a {
                color: $inverse-primary;
            }
        }

        &:hover {
            >a {
                background-color: rgba($inverse-primary, $state-hovered);
                color: $inverse-primary;
            }

        }

        &:active {
            >a {
                background-color: rgba($inverse-primary, $state-pressed);
                color: $inverse-primary;
            }

        }


    }

    >div {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

        position: relative;


        article {
            display: flex;
            flex-direction: column;
            gap: 20px;

            z-index: 1;

            .button {
                >a {
                    font-weight: 400;
                    color: $on-primary;
                }

                &:link,
                &:visited {
                    >a {
                        color: $on-primary;
                    }
                }

                &:hover {
                    >a {
                        background-color: rgba($inverse-primary, $state-hovered);
                        color: $on-primary;
                    }

                }

                &:active {
                    >a {
                        background-color: rgba($inverse-primary, $state-pressed);
                        color: $on-primary;
                    }

                }


            }

            h2 {
                font-size: rem-calc(52);
                line-height: rem-calc(64);

            }
        }


        nav {
            display: flex;
            margin-bottom: 20px;
            align-items: center;

            z-index: 1;

        }

        aside {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;

            z-index: 1;

            @include md {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;

            }

            ul {
                display: flex;
                margin-left: 4px;

                .button {
                    height: 52px;
                    width: 52px;

                    >a {
                        height: 100%;
                        width: 100%;
                        padding: 0px;
                        align-items: center;
                    }
                }
            }

        }

        img {
            position: absolute;
            z-index: 0;
            mix-blend-mode: color-dodge;
            // opacity: 0.5;

            width: 100vh;
            top: -12vw;
            right: -64vw;

            @include sm {
                right: -40vw;
            }

            @include md {
                right: -64vw;
            }

            @include lg {
                top: -8vw;
                right: -20vw;
            }
        }
    }

    h2:nth-child(2) {
        color: $on-inverse-surface;
        font-variation-settings: "slnt"0, "wdth"100, "wght"800, "INKT"100;
        text-align: center;
        font-size: 24vw;
        line-height: 80%;

        opacity: 0.1;
        transform: translate(-50%, -50%);
        position: absolute;
        bottom: -15%;
        left: 50%;

        @include lg {}
    }

}