/* =============
    Header
============= */

header {
    position: fixed;
    // transition: 0.25s;
    height: 80px;
    background-color: $surface;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 10000;

    >a {
        >svg {
            height: 32px;
            width: 100%;

            #wydradesigns {
                fill: $on-primary-container;
                // mix-blend-mode: color-burn;
            }
        }
    }

    #burger-container {
        height: 64px;
        width: 64px;
        z-index: 15000;
        position: absolute;
        right: 20px;
        margin-right: -8px;
        cursor: pointer;

        @include md {
            right: 40px;
        }

        @include lg {
            right: 64px;
        }

        g {
            path {
                fill: none;
                stroke: $primary;
            }
        }
    }

    /* The side navigation menu */
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 10000;
        top: 0;
        right: 0;
        background-color: $inverse-surface;
        overflow-x: hidden;
        padding-top: 80px;
        transition: all 0.5s;
        display: flex;
        flex-direction: column;
        gap: 20px;
        // box-shadow: ;

        >h6:first-child {
            // margin-top: 64px;
        }

        a {
            margin-left: 48px;
            padding: 16px 20px;
            text-decoration: none;
            font-size: 24px;
            color: $inverse-primary;
            display: block;
            transition: 0.3s;

            @include md {
                padding: 8px 40px;
            }

            @include lg {
                padding: 16px 40px;
            }

            &:hover {
                background-color: $primary-container;
                color: $on-primary-container;
            }

        }

        div {
            position: absolute;
            height: 100%;
            width: 48px;
            background-color: $primary-container;
            background-image: url(../img/global/FloorDots.svg);
            background-size: 32%;
            top: 0;
            left: 0;
            z-index: 1000;
        }
    }
}