/* =============
    Header
============= */

header {
    position: fixed;
    // transition: 0.25s;
    height: 80px;
    background-color: $surface;
    width: 100%;
    z-index: 10000;

    >div {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        // grid-area: content;
        // padding: 0px 20px;
        // @include md{
        //     padding: 0px 40px;
        // }
        // @include lg{
        //     padding: 0px 64px;
        // }
        // @include xl{
        //     padding: 0px auto;
        // }

        >a {
            margin-top: 8px;
            display: flex;
            align-items: center;
    
            >svg {
                height: 32px;
                width: auto;

                #wydradesigns {
                    fill: $on-primary-container;
                }
            }
        }

        #burger-container {
            height: 64px;
            width: 64px;
            z-index: 15000;
            position: absolute;
            right: 20px;
            margin-right: -8px;
            cursor: pointer;

            @include md {
                right: 40px;
            }

            @include lg {
                right: 64px;
            }
            @include xl{
                right: 12vw;
            }

            g {
                path {
                    fill: none;
                    stroke: $primary;
                }
            }
        }

        /* The side navigation menu */
        .sidenav {
            height: 100vh;
            width: 0;
            position: fixed;
            z-index: 10000;
            top: 0;
            right: 0;
            background-color: $inverse-surface;
            overflow-x: hidden;
            padding-top: 80px;
            transition: all 0.5s;
            display: flex;
            flex-direction: column;
            gap: 20px;

            a {
                padding: 16px 20px;
                text-decoration: none;
                font-size: 24px;
                color: $inverse-primary;
                display: block;
                transition: 0.25s;

                @include md {
                    padding: 8px 40px;
                }

                @include lg {
                    padding: 16px 40px;
                }

                &:hover {
                    background-color: rgba($primary-container,0.8);
                    color: $on-primary-container;
                }
                &:active{
                    background-color: rgba($primary-container,1);
                    color: $on-primary-container;
                }

            }
        }
    }
}