/* =============
    Buttons
============= */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    width: 100%;
    box-shadow: 0 5px 3px -3px rgba(19, 22, 24, .06), 0 3px 14px 2px rgba(19, 22, 24, .12), 0 8px 10px 1px rgba(19, 22, 24, .04);
    transition: 0.2s ease-in-out;



    > a {
        @include padding(12px, 24px, 12px, 24px);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: rem-calc(24);
        font-weight: 600;
        color: $white;
        width: 100%;
        text-transform: uppercase;
        @include md{
            @include padding(16px, 24px, 16px, 24px);

        }
        i {
            font-size: rem-calc(24);
        }
    }

}
.btn:hover{
    box-shadow: none;
    transform: translate(0px, 4px) scale(0.98);
    transition: 0.2s ease-in-out;

    > a {
        color: $black;
        i {
        }
    }

}
.btn-icon {
    i {
        @include margin(null,8px,null,null);
    }
}
/*
* Future CSS (use it today with postCSS-easing-gradients - note your settings colorMode: 'lrgb' and colorStops: 5)
*/
.btn-purple-future {
    background-image: linear-gradient(150deg, hsl(299.64,81.37%,40%), cubic-bezier(0.45, 0.05, 0.55, 0.95), hsl(266.63,83.11%,44.12%));
    transition: background 0.2s ease;
}

.btn-purple-future:hover {
    background-image: linear-gradient(150deg, hsl(299.64,81.37%,40%), cubic-bezier(0.45, 0.05, 0.55, 0.95), hsl(24.8,100%,64.9%));
}
/*
* Fallback CSS
*/
.btn-purple {
    background-image: linear-gradient(150deg, hsl(299.64,81.37%,40%) 0%, hsl(294.37,81.71%,40.73%) 28.28%, hsl(284.04,82.31%,42.11%) 50%, hsl(273.01,82.85%,43.45%) 71.72%, hsl(266.63,83.11%,44.12%) 100%);
    transition: background 0.2s ease;
}

.btn-purple:hover {
    background-image: linear-gradient(150deg, hsl(299.64,81.37%,40%) 0%, hsl(311.9,53.92%,51.41%) 28.28%, hsl(342.06,63.87%,64.56%) 50%, hsl(14.35,86.92%,68.12%) 71.72%, hsl(24.8,100%,64.9%) 100%);
}
