/* =============
    Buttons
============= */
// STATE VARIABLES
$state-hovered: 0.08;
$state-pressed: 0.1;
$state-focused: $state-pressed;

// BUTTON EXAMPLE
// <h6 class="button">
//  <a href="#">Button
//     <span class="material-symbols-outlined">arrow_forward</span>
//  </a>
// </h6>

// STYLES
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    align-self: flex-start;
    transition: all 0.25s cubic-bezier(0.47, 0, 0.23, 1.38);

    >a {
        border-radius: 40px;
        display: flex;
        align-items: baseline;
        justify-content: center;
        align-self: flex-start;
        gap: 8px;
        padding-top: 16px;
        padding-right: 20px;
        padding-bottom: 12px;
        padding-left: 20px;
        color: $primary;
        width: 100%;

        @supports (leading-trim: both) and (text-edge: cap) {
            leading-trim: both;
            text-edge: cap;
        }

        >.material-symbols-outlined{
            display: flex;
            align-self: center;
            margin-top: -6px;
        }

    }

    &:link,
    &:visited {
        >a {
            color: $primary;
        }
    }

    &:hover {
        @include lg{
            transform: scale(1.08);
        }
        >a {
            background-color: rgba($primary, $state-hovered);
            color: $primary;
        }

    }

    &:active {
        >a {
            background-color: rgba($primary, $state-pressed);
            color: $primary;
        }

    }

}

.button-icon-left {
    >a {
        flex-direction: row-reverse;
        padding-top: 16px;
        padding-right: 20px;
        padding-bottom: 12px;
        padding-left: 16px;

        
    }
}

.button-icon-right {
    >a {
        padding-top: 16px;
        padding-right: 16px;
        padding-bottom: 12px;
        padding-left: 20px;


    }
}

.button-filled {
    background-color: $primary;
    box-shadow: none;

    >a {
        color: $on-primary;
    }

    &:link,
    &:visited {
        box-shadow: none;

        >a {
            color: $on-primary;
        }
    }

    &:hover {
        // box-shadow: 0px 1px 3px 1px rgba($black, 0.07), 0px 1px 2px 0px rgba($black, 0.15);

        >a {
            background-color: rgba($on-primary, $state-hovered);
            color: $on-primary;

        }

    }

    &:active {
        box-shadow: none;

        >a {
            background-color: rgba($on-primary, $state-pressed);
            color: $on-primary;
        }

    }

}

.button-tonal {
    background-color: $primary-container;
    box-shadow: none;

    >a {
        color: $on-primary-container;
    }

    &:link,
    &:visited {
        box-shadow: none;

        >a {
            color: $on-primary-container;
        }
    }

    &:hover {
        // box-shadow: 0px 1px 3px 1px rgba($black, 0.07), 0px 1px 2px 0px rgba($black, 0.15);

        >a {
            background-color: rgba($primary, $state-hovered);
            color: $on-primary-container;

        }

    }

    &:active {
        box-shadow: none;

        >a {
            background-color: rgba($primary, $state-pressed);
            color: $on-primary-container;
        }

    }

}

.button-outline {
    border: 2px solid $primary;

    &:focus,
    &:active {
        border: 2px solid $on-primary-container;
    }

}

.button-text {
    margin-left: -20px;
}

.button-text-icon-right {
    // margin-left: -16px;
    margin-left: 20px;
}