/* =============
    Case Study Pre Footer
============= */
#caseStudyPreFooter {
    article {
        .case-study-card {
            display: flex;
            flex-direction: column;
            gap: 16px;
            img {
                aspect-ratio: 3/2;  
                @include sm{
                    aspect-ratio: 16/9;  
                }  
            }
        }
    }
}