/* =============
    Case Study Pre Footer
============= */
@use '../abstracts' as *;

#caseStudyPreFooter {
    article {
        display: flex;
        flex-direction: column;

        .case-study-card {
            display: flex;
            flex-direction: column;
            gap: 16px;

            h3 {
                min-height: 2lh;
            }

            img {
                aspect-ratio: 3/2;
                border-radius: 8px;

                @include sm {
                    aspect-ratio: 16/9;
                }

                @include lg {
                    border-radius: 16px;
                }
            }
        }
    }
}