.chip,
.chip-icon{
    font-family: interstate-mono, monospace;
    font-size: rem-calc(16);
    line-height: 100%;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.2px;
    @supports (leading-trim: both) and (text-edge: cap) {
        leading-trim: both;
        text-edge: cap;
    }
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
}
.chip{
    padding: 4px 8px;
    border: 1px solid $outline-variant;
}
.chip-icon{
    padding: 4px 4px 4px 8px;
    column-gap: 4px;
    background-color: $inverse-surface;
}