/* =============
    Heroes
============= */
@use '../abstracts'as *;

.hero {
    background-position: center;
    background-image: radial-gradient($outline-variant 8%, transparent 0);
    background-size: 24px 24px;

    position: relative;

    @include sm {
        background-size: 40px 40px;
    }

    @include md {
        background-image: radial-gradient($outline-variant 8%, transparent 0);
    }

    article {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        height: 16vh;

        @include lg {
            height: 28vh;
        }

        h1 {
            color: $on-primary-container;
        }
    }
}

.hero.inset-page {
    background-position: bottom center;
    background-image: linear-gradient($outline-variant 1px, transparent 1px), linear-gradient(to right, $outline-variant 1px, $background 1px);
    background-size: 24px 24px;
    border-top: 1px solid $outline-variant;
    border-bottom: 1px solid $outline-variant;

    article {
        height: 36vh;

        @include md {
            height: 24vh;
        }

        @include lg {
            height: 40vh;
        }
    }
}

.article.hero.inset-page {
    background-size: cover;
    border: none;

    div {
        height: 100%;

        article {
            height: 64vh;

            display: flex;
            justify-content: flex-end;

            p {
                color: $on-inverse-surface;

            }

            h1 {
                color: $on-inverse-surface;
            }

            h3 {
                padding: 6px 24px 2px;
                border-radius: 56px;
                background-color: $inverse-primary;
                font-size: rem-calc(24);
                line-height: rem-calc(32);
                color: $on-inverse-primary;
                font-variation-settings: "slnt"0, "wdth"1000, "wght"800, "INKT"100;
                letter-spacing: rem-calc(1);
            }
        }
    }
}

/*
* Fallback CSS
*/
.hero-gradient {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.163194) 17.89%, rgba(0, 0, 0, 0.307556) 33.48%, rgba(0, 0, 0, 0.42825) 48.13%, rgba(0, 0, 0, 0.520444) 63.19%, rgba(0, 0, 0, 0.579306) 80.02%, rgba(0, 0, 0, 0.6) 100%);
}