/* =============
    Navigation
============= */
#sm-nav {
    position: fixed;
    top: 104px;
    width: 100%;
    z-index: 950;
    @include lg {
        display: none;
    }

    ul {
        li {
            display: none;

            h6 {
                background-color: $blank;
                border: none;
                color: $purple;
                cursor: pointer;
                text-decoration: none;
                transition: 0.25s;
                width: 100%;
                text-align: right;
                @include margin(0px, 0px, 32px, 0);
                @include dark {
                    color: $white;
                }

                a {
                    color: $purple;
                    text-decoration: none;
                    transition: 0.25s;
                    font-weight: 600;
                    @include dark {
                        color: $white;
                    }
                }

                a:link,
                a:visited {
                    color: $purple;
                    @include dark {
                        color: $white;
                    }
                }

                a:active,
                a:hover {
                    border-bottom: 4px solid $dark-purple;
                    @include dark {
                        border-bottom: 4px solid $white;
                    }
                }
            }
        }

        li:nth-last-child(1) {
            h6{
                @include margin(null,null,0px,null);
            }
        }
    }
}
